.container
  .carousel.carousel_recent_product_5.slide.media-carousel#media
    .carousel-inner
      - (1..14).each
        .recent-product-5-item.col-md-15.col-sm-3
          = link_to root_path
            = image_tag '5.jpg', class: 'img-responsive'

    a data-slide="prev" href="#media" class="left carousel-control"
      | ‹
    a data-slide="next" href="#media" class="right carousel-control"
      | ›
