.navbar
  .container
    .navbar-header
      button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"
        | <i class="fa fa-cogs"></i>
      = link_to "#{image_tag 'logo.jpg'}".html_safe, backend_dashboard_path, class: 'navbar-brand navbar-brand-image'

    .navbar-collapse.collapse
      ul class="nav navbar-nav noticebar navbar-left"
        li class="dropdown"
          a href="page-notifications.html" class="dropdown-toggle" data-toggle="dropdown"
            | <i class="fa fa-envelope"></i>
            | <span class="navbar-visible-collapsed">&nbsp;Messages&nbsp;</span>

          ul class="dropdown-menu noticebar-menu" role="menu"   
            - @messages.each do |m|          
              li
                = link_to backend_contact_path(m), class: "noticebar-item" do
                  span class="noticebar-item-image"
                    = image_tag "no-image.png", style: "width: 50px"

                  span class="noticebar-item-body"
                    strong class="noticebar-item-title" From: #{m.full_name}
                    span class="noticebar-item-text"
                      = truncate(strip_tags(m.message), length: 20, omission: '...')
                    small class="noticebar-item-time" 
                      = m.try(:created_at).strftime("%B, %d, %Y")


            li class="noticebar-menu-view-all"
              = link_to 'View All Messages', backend_contacts_path

      ul class="nav navbar-nav navbar-right" 
        li 
          = link_to edit_backend_admin_path(current_user) do
            = current_user.email
        li class="dropdown navbar-profile"
          a class="dropdown-toggle" data-toggle="dropdown" href="javascript:"
            = image_tag current_user.profile.avatar.url(:small), class: "navbar-profile-avatar"
            | <i class="fa fa-caret-down"></i>
          ul class="dropdown-menu" role="menu"
            li
              = link_to edit_backend_admin_path(current_user)
                i class="fa fa-cogs"
                | &nbsp;&nbsp;Settings
            li class="divider"
            li
              = link_to destroy_user_session_path, method: 'delete' do 
                i class="fa fa-sign-out"
                | &nbsp;&nbsp;Logout
