.portlet-header
  .widget-head
    .pull-left
      / - unless params[:controller] == 'backend/contacts'
      = link_to '<i class="fa fa-reorder"></i> List'.html_safe, collection_path, class: 'btn btn-info btn-sm'
      | &nbsp;
      = link_to '<i class="fa fa-plus"></i> Create New'.html_safe, new_resource_path, class: 'btn btn-success btn-sm'

    .widget-icons.pull-right
      - if params[:controller] == 'backend/products' || params[:controller] == 'backend/blogs' || params[:controller] == 'backend/articles'
        button class="btn btn-info btn-sm" type="submit" name="commit" value="activated"
          | <i class="fa fa-check"></i> Activated
        | &nbsp;
        button class="btn btn-warning btn-sm" type="submit" name="commit" value="non_activated"
          | <i class="fa fa-exclamation"></i> Non Activated
        | &nbsp;

      - if params[:controller] == 'backend/contacts'
        button class="btn btn-info btn-sm" type="submit" name="commit" value="activated"
          | <i class="fa fa-check"></i> Already Check
        | &nbsp;
        button class="btn btn-warning btn-sm" type="submit" name="commit" value="non_activated"
          | <i class="fa fa-exclamation"></i> UnChecked
        | &nbsp;
      
      - unless params[:controller] == 'backend/web_settings'
        button class="btn btn-danger btn-sm" type="submit" name="commit" value="destroy_all"
          | <i class="fa fa-times"></i> Destroy All
        | &nbsp;
  br



