.col-md-12
  .content-header
    h2 class="content-header-title"
      = "#{action_name} #{form_name}"
    = render_breadcrumbs

  = form_for [:backend, resource], method: form_method, html: {class: 'form'} do |f|
    = render partial: 'form', locals: {f: f}
    .break
    .row
      button class="btn btn-info pull-right" type="submit" SAVE
    .break
