= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_resource_path(resource), class: 'btn btn-xs btn-warning'
| &nbsp;
= link_to '<i class="fa fa-times"></i>'.html_safe, resource_path(resource), method: 'delete', class: 'btn btn-xs btn-danger', data: {confirm: confirmation}
| &nbsp;

- if params[:controller] == 'backend/contacts'
  = link_to '<i class="fa fa-search"></i>'.html_safe, resource_path(resource), class: 'btn btn-xs btn-info'
