.mainbar
  .container
    button type="button" class="btn mainbar-toggle" data-toggle="collapse" data-target=".mainbar-collapse"
      i class="fa fa-bars"
    .mainbar-collapse.collapse
      ul class="nav navbar-nav mainbar-nav"
        li class="#{active_sidebar?(:home, :dashboard)}"
          = link_to '<i class="fa fa-dashboard"></i>Dashboard'.html_safe, backend_dashboard_path
        li class="dropdown #{active_sidebar?(:articles, :all)}"
          a href="index.html#about" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            | <i class="fa fa-newspaper-o"></i> News & Events <span class="caret"></span>
          ul.dropdown-menu
            li
              = link_to '<i class="fa fa-plus-square-o"></i> Create New'.html_safe, new_backend_article_path
            li class="divider"
            li
              = link_to '<i class="fa fa-align-justify"></i> List'.html_safe, backend_articles_path
        li class="dropdown #{active_sidebar?(:blogs, :all)}"
          a href="index.html#about" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            | <i class="fa fa-film"></i> Video Blogs <span class="caret"></span>
          ul.dropdown-menu
            li
              = link_to '<i class="fa fa-plus-square-o"></i> Create New'.html_safe, new_backend_blog_path
            li class="divider"
            li
              = link_to '<i class="fa fa-align-justify"></i> List'.html_safe, backend_blogs_path
        li class="dropdown #{active_sidebar?(:products, :all)}"
          a href="index.html#about" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            | <i class="fa fa-car"></i> Products <span class="caret"></span>
          ul.dropdown-menu
            li
              = link_to '<i class="fa fa-plus-square-o"></i> Create New'.html_safe, new_backend_product_path
            li class="divider"
            li
              = link_to '<i class="fa fa-align-justify"></i> List'.html_safe, backend_products_path
        li class="dropdown #{active_sidebar?(:landing_pages, :all)}"
          a href="index.html#about" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
            | <i class="fa fa-file-o"></i> Landing Pages <span class="caret"></span>
          ul.dropdown-menu
            li
              = link_to '<i class="fa fa-plus-square-o"></i> Create New'.html_safe, new_backend_landing_page_path
            li class="divider"
            li
              = link_to '<i class="fa fa-align-justify"></i> List'.html_safe, backend_landing_pages_path
        li class="#{active_sidebar?(:services, :all)}"
          = link_to '<i class="fa fa-star"></i>Services'.html_safe, backend_services_path
        li class="#{active_sidebar?(:contacts, :all)}"
          = link_to '<i class="fa fa-comments-o"></i> Contacts'.html_safe, backend_contacts_path
        li class="#{active_sidebar?(:admins, :all)}"
          = link_to '<i class="fa fa-user-secret"></i> Admins'.html_safe, backend_admins_path
        li class="#{active_sidebar?(:web_settings, :all)}"
          = link_to '<i class="fa fa-wrench"></i> Web Settings'.html_safe, backend_web_settings_path
        