.row
  .portlet
    .portlet-header 
      h3 <i class="fa fa-wrench"></i> Web Setting
    .portlet-content
      .row
        .col-md-6
          h5 Favicon
          = image_tag f.object.favicon.url(:small), class: 'show-choice pavicon'
          = f.file_field :favicon, class: 'input-file'
        .col-md-6
          h5 Logo
          = image_tag f.object.logo.url(:small), class: 'show-choice logo-company'
          = f.file_field :logo, class: 'input-file'
        .col-md-6
          h5 Twitter
          = f.text_field :twitter, class: 'form-control', required: true
        .col-md-6
          h5 Facebook
          = f.text_field :facebook, class: 'form-control', required: true
        .col-md-6
          h5 Header Tags
          = f.text_field :header_tags, class: 'form-control', required: true
        .col-md-6
          h5 Footer Tags
          = f.text_field :footer_tags, class: 'form-control', required: true
        .col-md-6
          h5 Contact
          = f.text_field :contact, class: 'form-control', required: true
        .col-md-6
          h5 Email
          = f.text_field :email, class: 'form-control', required: true
.row
  .portlet
    .portlet-header 
      h3 <i class="fa fa-wrench"></i> Setting SEO (<em>Search Engine Optimation</em>)
    .portlet-content
      .row
        .col-md-6
          h5 Title
          = f.text_field :title, class: 'form-control', required: true
        .col-md-6
          h5 Keywords
          = f.text_field :keywords, class: 'form-control', required: true
        .col-md-6
          h5 Meta Robot
          = f.text_field :robot, class: 'form-control', placeholder: 'Example: Index, Follow, NoFollow'
        .col-md-6
          h5 Author
          = f.text_field :author, class: 'form-control', placeholder: 'author project'
        .col-md-12
          h5 Corpyright
          = f.text_field :copyright, class: 'form-control', placeholder: 'Example: Housing Indonesia'
        .col-md-12
          h5 Description
          = f.text_area :description, class: 'form-control', required: true
.row
  h3 Image Slider
  hr
  .row
    = render partial: 'gallery_form', locals: {f: f}
