= render 'backend/shareds/heading', table_name: collection.name
= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
  .portlet
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Web Settings', button_name: 'Web Settings', add_method: true}
    .portlet-content
      .widget
        .widget-content
          .table-responsive
            table class="table table-striped table-bordered table-hover"
              thead
                tr
                  th width='5%' #
                  th Title
                  th Updated At
                  th width='10%' 
                    center Action
              tbody
                - @collection.each_with_index do |resource, index|
                  tr
                    td = index+1
                    td 
                      b = resource.title
                    td = resource.try(:updated_at).strftime("%H:%M %B, %d, %Y")
                    td
                      center
                        = render partial: 'backend/shareds/prepare_action',
                          locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false }
          .widget-foot
            .pull-right
              = paginate @collection
            .clearfix