footer.dealer-footer-wrapper
  .container
    .row
      .col-md-12
        .col-md-5.col-sm-12.col-xs-12
          h3 Prestige Image Motorcars
          .textwidget
            i.mk-theme-icon-office
            strong Jakarta Dealer
            em Jl. Pluit Karang Ayu, Blok. C1 Utara, No 11, Jakarta Utara
            br
            br
            i.mk-theme-icon-office
            strong Jakarta Office:
            em Jl. Pluit Permai No.5 Jakarta Utara (Opposite Pluit Vilage)

        .col-md-2.col-sm-12.col-xs-12
          h3 Capabities
          ul
            li
              = link_to 'Sporty Car Event', root_path
            li
              = link_to 'Design Elegant', root_path
            li
              = link_to 'Imaginatif', root_path

        .col-md-2.col-sm-12.col-xs-12
          h3 Need More
          ul
            li
              = link_to 'What we are?', root_path
            li
              = link_to 'Dealer Config', root_path
            li
              = link_to 'Sell Car', root_path

        .col-md-3.col-sm-12.col-xs-12
          form action="#" class="form-search-footer"
            .input-group
              input type="text" class="form-control" placeholder="Search for..."
              span class="input-group-btn"
                button class="btn btn-default" type="button"
                  i.fa.fa-search

          ul
            li
              = link_to 'Prestige Event', root_path
            li
              = link_to 'Otomotive Event', root_path

footer.sub-footer
  .container
    .col-md-12
      .item-holder
        span.mk-footer-corpyright
          | &copy; 2015&nbsp;
          = link_to 'Prestige Image Motorcars', root_path
          | . All Rights Reserved.

        ul.mk-footer-social
          li
            = link_to root_path
              i.fa.fa-facebook
          li
            = link_to root_path
              i.fa.fa-twitter
          li
            = link_to root_path
              i.fa.fa-google-plus
          li
            = link_to root_path
              i.fa.fa-instgaram

a.backtotop#upClick href="#"
  i.glyphicon.glyphicon-chevron-up

#search
  button type="button" class="close"
    | ×
  form
    input type="search" value="" placeholder="Input type keyword(s) to search"
    button type="submit" class="btn btn-prestige"
      i.fa.fa-search
      | &nbsp;Search
