nav.navbar.navbar-default.menu-fixed-top.main-nav
  .container
    .col-md-12
      .row
        .navbar-header.page-scroll
          button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"
            span.sr-only
              | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

          = link_to root_path, class: 'navbar-brand'
            = image_tag 'logo.jpg', alt: 'YOUR TITLE'

        .collapse.navbar-collapse#dealer-nav
          #menu-scroll
            ul.nav.navbar-nav.navbar-right
              li
                = link_to root_path
                  | Home
              li
                = link_to product_v1_path
                  | Product
              li
                = link_to news_event_v2_path
                  | Event
              li
                = link_to video_blog_path
                  | Video Blog
              li
                = link_to about_path
                  | About Us
              li
                = link_to contact_us_path
                  | Contact Us
              li
                a href="#search"
                  i.fa.fa-search

