.row
  .col-md-4
    h6 Category
    = f.select :category, CategoryLandingPage.to_a, {prompt: 'Select Category'}, {class: 'form-control', required: true} 
  .col-md-8
    h6 Title
    = f.text_field :title, class: 'form-control', required: true   
  .col-md-12
    h6 Description
    = f.cktext_area :description, class: 'form-control', required: true  
