= javascript_include_tag "//www.google.com/jsapi", "chartkick"
div
  h4 class="heading-inline"
    | Welcome To Administrator! &nbsp;&nbsp;<small>#{Date.today.to_date}</small>
br
.row
  .col-sm-6.col-md-3
    .row-stat
      p class="row-stat-label" Visitors Today
      h3 class="row-stat-value" = Visit.count_today
      span class="label label-success row-stat-badge"
        | Today

  .col-sm-6.col-md-3
    .row-stat
      p class="row-stat-label" Visitors This Week
      h3 class="row-stat-value" = Visit.count_week
      span class="label label-success row-stat-badge"
        | Week
        
  .col-sm-6.col-md-3
    .row-stat
      p class="row-stat-label" Visitor This Month
      h3 class="row-stat-value" = Visit.count_month 
      span class="label label-success row-stat-badge"
        | Month

  .col-sm-6.col-md-3
    .row-stat
      p class="row-stat-label" Visitors till date
      h3 class="row-stat-value" = Visit.count
      span class="label label-success row-stat-badge"
        | Till Date

= column_chart Visit.per_year.group_by_month(:started_at, format: "%b %Y").count
