.row
  .col-md-12
    .well
      center
        h5 Activated
        p = f.check_box :status
  .col-md-2
    .customize-img-web-setting
      = image_tag f.object.cover.url(:small)
    = f.file_field :cover
  .col-md-3
    h6 Category
    = f.select :category, CategoryArticle.to_a, {prompt: 'Select Category'}, {class: 'form-control', required: true}  
  .col-md-7
    h6 Event At
    = f.date_field :event_at, class: 'form-control', required: true
  .col-md-10
    h6 Title
    = f.text_field :title, class: 'form-control', required: true  
  .col-md-12
    h6 Description
    = f.cktext_area :description, class: 'form-control', required: true 
