= render 'backend/shareds/heading', table_name: collection.name
= render 'backend/shareds/search_form'
br
= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
  .portlet
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'News & Events', button_name: 'News & Events', add_method: true} 
    .portlet-content
      .widget
        .widget-content
          .table-responsive
            table class="table table-striped table-bordered table-hover"
              thead
                tr
                  th width="5%" #
                  th Title
                  th Category
                  th Status
                  th Event At
                  th width='10%' Action
              tbody
                - @collection.each_with_index do |resource, index| 
                  tr
                    td = check_box_tag 'ids[]', resource.id
                    td = resource.title
                    td = resource.category.titleize
                    td = resource.status?
                    td = resource.try(:event_at).strftime("%B, %d, %Y") if resource.event_at.present?
                    td
                      = render partial: 'backend/shareds/prepare_action',
                        locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
          .widget-foot
            .pull-right
              = paginate @collection 
            .clearfix
