.row
  .col-md-2
    .customize-img-web-setting
      = image_tag f.object.cover.url(:small)
    = f.file_field :cover
  .col-md-10
    h6 Title
    = f.text_field :title, class: 'form-control', required: true   
  .col-md-12
    h6 Description
    = f.cktext_area :description, class: 'form-control', required: true  
