h5 User Account
hr
.row
  .col-md-6
    h6 Email
    = f.email_field :email, class: 'form-control', required: true
    h6 Username
    = f.text_field :username, class: 'form-control', required: true
    h6 Password
    = f.password_field :password, class: 'form-control'
    h6 Password Confirmation
    = f.password_field :password_confirmation, class: 'form-control'
  .col-md-6
    h6 Avatar
    .user
      = image_tag profile.object.avatar.url(:medium), class: 'thumb', style: 'width: 200px; height: 200px'
    = profile.file_field :avatar
.break
h5 Profile
hr
.row
  .col-md-12
    h6 Full Name
    = profile.text_field :full_name, class: 'form-control'
  .col-md-6
    h6 Birthday
    = profile.date_select :birthday, {start_year: (Date.today.year-50),end_year:   (Date.today.year-17), order: [:day, :month, :year],
              prompt: {day:   'Tanggal', month: 'Bulan', year:  'Tahun'}},
              {required: true, class: 'form-control select-birthday'}
  .col-md-6
    h6 Gender
    = profile.select :gender, Gender.to_a, {prompt: 'Select Category'}, {class: 'form-control'}

