//= require frontend/jquery-2.1.1.min
//= require frontend/bootstrap
//= require frontend/modernizr.custom
//= require frontend/pinterest_grid
//= require frontend/google_image_gallery
//= require frontend/slider
//= require frontend/jquery.scrolltofixed
//= require frontend/isotope.min
//= require frontend/jquery.custom_ligthbox
//= require frontend/jquery.magnific-popup.min
//= require frontend/video-background.min
//= require frontend/gmap3

//= require frontend/theta_viewer/modernizr-2.7.1-csstransforms3d-canvas-touch
//= require frontend/theta_viewer/megapix-image
//= require frontend/theta_viewer/three.min
//= require frontend/theta_viewer/Detector
//= require frontend/theta_viewer/CSS3DRenderer
//= require frontend/theta_viewer/theta-viewer.min
//= require frontend/theme
//= require cocoon
//= require ahoy

// THETA VIEWER
$(document).ready(function(){
  'use strict';
  $("#theta-viewer").createThetaViewer("<%= image_url 'interior.jpg' %>");

  ahoy.trackView();
});



