.row
  .col-md-12
    .well
      center
        h5 Activated
        p = f.check_box :status
  .col-md-2
    .customize-img-web-setting
      = image_tag f.object.interior_image.url(:small)
    = f.file_field :interior_image
  .col-md-3
    h6 Category
    = f.select :category, CategoryProduct.to_a, {prompt: 'Select Category'}, {class: 'form-control', required: true} 
  .col-md-7
    h6 Title
    = f.text_field :title, class: 'form-control', required: true   
  .col-md-7
    h6 File Video
    = f.file_field :video
    - if resource.video.present?
      = link_to resource.video_file_name, download_backend_products_path(resource)
  .col-md-12
    h6 Description
    = f.cktext_area :description, class: 'form-control', required: true 
  .col-md-6
    h6 Price on the Road
    = f.number_field :price_on_the_road, class: 'form-control', required: true 
  .col-md-6
    h6 Price of the Road
    = f.number_field :price_of_the_road, class: 'form-control', required: true 
.row
  h3 Overviews
  hr
  .row
    = render partial: 'specification_form', locals: {f: f}
.row
  h3 Galleries
  hr
  .row
    = render partial: 'gallery_form', locals: {f: f}
