.col-md-6.nested-fields
  .well
    .row
      .col-md-4
        .customize-img-web-setting
          = image_tag f.object.file.url, id: 'view_img'
        = f.file_field :file
      .col-md-8
        .row
          .col-md-12
            = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
            h6 Title
            = f.text_field :title, class: 'form-control', placeholder: 'Title'
          .col-md-6
            h6 Position
            = f.number_field :position, class: 'form-control'

