.col-md-6.nested-fields
  .well
    .row
      .col-md-12
        .row
          .col-md-12
            = link_to_remove_association "<i class='fa fa-times'></i>".html_safe, f, class: 'btn btn-danger btn-xs pull-right'
            h6 Description
            = f.text_area :description, class: 'form-control', placeholder: 'Description'

