= f.fields_for :specifications do |s|
  = render 'specification_fields', f: s

.col-md-12
  = link_to_add_association f, :specifications, partial: 'specification_fields', class: "btn btn-success btn-sm" do
    i class="fa fa-picture-o"
    span Add Spec
