.row
  .col-md-12
    .well
      center
        h5 Already Check
        p = f.check_box :status
  .col-md-6
    h6 Fullname
    = f.text_field :full_name, class: 'form-control', required: true   
  .col-md-6
    h6 Email
    = f.text_field :email, class: 'form-control', required: true  
  .col-md-6
    h6 Phone
    = f.text_field :phone, class: 'form-control', required: true   
  .col-md-6
    h6 Company
    = f.text_field :company, class: 'form-control', required: true  
  .col-md-6
    h6 Address
    = f.text_field :address, class: 'form-control', required: true  
  .col-md-6
    h6 Subject
    = f.text_field :subject, class: 'form-control', required: true   
  .col-md-12
    h6 Message
    = f.text_area :message, class: 'form-control', required: true  
