= render 'backend/shareds/heading', table_name: collection.name
= render 'backend/shareds/search_form'
br
= form_for :multiple, url: "#{collection_path}/do_multiple_act", method: 'post' do 
  .portlet
    = render partial: 'backend/shareds/prepare_table', locals: {table_name: 'Contacts', button_name: 'Contacts', add_method: true} 
    .portlet-content
      .widget
        .widget-content
          .table-responsive
            table class="table table-striped table-bordered table-hover"
              thead
                tr
                  th width="5%" #
                  th Fullname
                  th Email
                  th Phone
                  th Address
                  th Status
                  th Created At
                  th width='10%' Action
              tbody
                - @collection.each_with_index do |resource, index| 
                  tr
                    td = check_box_tag 'ids[]', resource.id
                    td = resource.full_name
                    td 
                      a href="mailto:#{resource.email}"
                        = resource.email
                    td = resource.phone
                    td = resource.address
                    td = resource.status?
                    td = resource.try(:created_at).strftime("%B, %d, %Y")
                    td
                      = render partial: 'backend/shareds/prepare_action',
                        locals: { resource: resource, confirmation: "Are you sure delete this #{resource.id}", no_show: false } 
          .widget-foot
            .pull-right
              = paginate @collection 
            .clearfix
