.col-md-12
  .content-header
    h2 class="content-header-title"
      = resource.class
    = render_breadcrumbs

.portlet
  .portlet-header
    h3 
      | Subject: <b>#{resource.subject}</b>
      span.pull-right
        = resource.status?
  .portlet-content
    h5 FROM
    b = resource.full_name
    div
      | <b>Email : </b> <a href="mailto:#{resource.email}">#{resource.email}</a>
    div
      | <b>Phone : </b> 
      = resource.phone
    div
      | <b>Company : </b> 
      = resource.company
    br
    .well
      = resource.message