/*
* @author     : Fathan Rohman
* @company    : Creative Design Sukabumi - www.creativedesignsukabumi.com
* @production : 6 Oktober 2015 - Start At 07:45-00:00:27 PM
*/

/*
*
* FEATURE THEME CASCANDING SYLE SHEET(CSS)
*
*
*- SCOPE ELEMENT
*- SCOPE GLOBAL
*- SCOPE HOMEPAGE
*- SCOPE PRODUCT LIST
*- SCOPE PRODUCT SINGLE V1
*- SCOPE PRODUCT SINGLE V2
*- SCOPE NEWS & EVENT
*- SCOPE ABOUT US
*- SCOPE CONTACT US
*/

/*SCOPE ELEMENT START*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  /*-moz-border-radius: 4px!important;
  -webkit-border-radius: 4px!important;
  border-radius: 4px!important;*/
}

::-webkit-scrollbar
{
  width: 5px;
  background-color: #F5F5F5;

}

::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  /*-moz-border-radius: 4px!important;
  -webkit-border-radius: 4px!important;
  border-radius: 4px!important;*/
  background-color: #424242;
}

@font-face {
  font-family: OpenSans;
  src: url(/assets/OpenSans-Regular.ttf);
}

@font-face {
  font-family: MontserratRegular;
  src: url(/assets/Montserrat-Regular.otf);
}

@font-face {
  font-family: MyriadPro;
  src: url(/assets/MyriadPro-Regular.otf);
}

body{
  background-color: transparent;
  font-family: OpenSans;
}

h1,h2,h3,h4,h5,h6{
  text-decoration: none;
}

h1{
  font-size: 30px;
}

h2{
  font-size: 25px;
}

h3{
  font-size: 18px;
}

h4{
  font-size: 13px;
}

h5{
  font-size: 11px;
}

h6{
  font-size: 10px;
}

a{
  text-decoration: none!important;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
  color: #149CC6;
}

a:hover{
  text-decoration: none!important;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

section{
  margin-top: 50px;
}
/*SCOPE ELEMENT END*/

/*SCOPE GLOBAL BOOTSTRAP START*/

/*navbar*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.navbar{
  width: 100%!important;
}

body.home .main-nav .navbar-collapse.collapsing, body.home .main-nav .navbar-collapse.in{
  background-color: #FFFFFF;
}

.main-nav {
  margin-bottom: 0;
  background: #FFFFFF;
  border: none;
  border-radius: 0;
  box-shadow: none;
  padding-top: 25px;
  padding-bottom: 25px;
  transition: background-color 0.4s, box-shadow 0.4s, padding 0.2s;
}

.main-nav .navbar-brand{
  padding: 0 0 0 15px;
  height: auto;
}

.main-nav .navbar-brand img{
  height: 45px;
  width: auto;
}

.main-nav .navbar-nav > li{
  text-transform: uppercase;
}

.main-nav .navbar-nav > li > a{
  color: #000000;
  transition: all 0.3s;
  font-family: MyriadPro;
  text-transform: none;
}

.main-nav .navbar-nav > li > a:hover{
  color: #149CC6;
}

.main-nav .navbar-nav > li.current-menu-item > a{
  font-family: MyriadPro;
}

.navbar-default {
  border-color: transparent;
}

.navbar-trasparent{
  background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: #000000;
}

body.home .main-nav{
  background-color: transparent;
}

.menu-page{
  background-color: rgba(255, 255, 255, 0.91)!important;
}

.main-nav.nav-colored{
  background-color: #FFFFFF!important;
  box-shadow: 0px 0px 21px -8px #333;
  padding-top: 7px;
  padding-bottom: 7px;
}

.main-page.nav-small{
  margin-bottom: 100px;
}

/*slider carousel*/
.modern-slider-prestigecar {
  margin-top: -120px;
  display: table;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modern-slider-prestigecar .box-information-slider{
  display: inline-block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 200px;
  left: 0;
  top: 86px;
  padding: 30px;
}

.modern-slider-prestigecar .box-information-slider .title{
  font-size: 20px;
  position: absolute;
  color: #149CC6;
  display: inline-block;
  left: 42px;
  font-weight: bold;
  line-height: 30px;
}

.modern-slider-prestigecar .box-information-video{
  background-color: rgba(255, 255, 255, 0.73);
  width: 80%!important;
  height: 500px!important;
  left: 120px!important;
  top: 86px!important;
  padding: 6px;
}

.tp-bullets.preview4 .bullet {
  cursor: pointer;
  position: relative!important;
  background: #149CC6;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 10px!important;
  height: 10px!important;
  border: 2px solid rgba(0,0,0,0)!important;
  display: inline-block;
  margin-right: 15px!important;
  margin-bottom: 0!important;
  -webkit-transition: background-color .2s,border-color .2s;
  -moz-transition: background-color .2s,border-color .2s;
  -o-transition: background-color .2s,border-color .2s;
  -ms-transition: background-color .2s,border-color .2s;
  transition: background-color .2s,border-color .2s;
  float: none!important;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}

.tp-bullets.preview4 .bullet:hover, .tp-bullets.preview4 .bullet.selected {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #000000!important;
  width: 10px!important;
  height: 10px!important;
  border: 2px solid #149CC6!important;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
  border-color: #149CC6;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0), 0 0 8px rgba(0,0,0,0);
}
/*SCOPE GLOBAL BOOTSTRAP END*/

/*SCOPE GLOBAL CUSTOMIZE START*/
/*search form full page*/
#search {
  z-index: 9999999;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);

  opacity: 0;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1);
  opacity: 1;
}

#search input[type="search"] {
  position: absolute;
  top: 50%;
  width: 100%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0);
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 0px;
  margin: 0px auto;
  margin-top: -51px;
  padding-left: 30px;
  padding-right: 30px;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 15px;
  right: 15px;
  color: #149CC6;
  background-color: #333333;
  border: 2px solid #149CC6;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;
  border-radius: 50%;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

#search .close:hover {
  background-color: #149CC6;
  color: #FFFFFF;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.padding-right-0{
  padding-right: 0px!important;
}
hr.hr-full{
  width: 100%;
}

.txt-uppercase{
  text-transform: uppercase!important;
}

.txt-color-blue{
  color: #149CC6!important;
}

.txt-color-black{
  color: #000000!important;
}

.margin-top-50{
  margin-top: 50px;
}

.txt-left{
  text-align: left!important;
}

.btn{
  border-radius: 0px;
}

.btn-prestige{
  background-color: #149CC6;
  color: #FFFFFF;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.btn-prestige:hover{
  background-color: #0E7B9C;
  color: #FFFFFF;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.btn-prestige.raised {
  box-shadow: 0 3px 0 0 #007299;
}

.btn-prestige.raised:active, .btn-prestige.raised.active {
  background: #33a6cc;
  box-shadow: none;
  margin-bottom: -3px;
  margin-top: 3px;
}

.btn-action-galery-layout{
  color: #149CC6;
  background-color: #222222;
  border-color: #149CC6;
  border: 2px solid #149CC6;
  border-radius: 0px;
}

.btn-action-galery-layout:hover{
  background-color: #149CC6;
}

.dealer-header-wrapper{

}

.dealer-footer-wrapper{
  background-color: #333333;
  padding-top: 60px;
  width: 100%;
  color: #FFFFFF;
  margin-top: 30px;
}

.dealer-footer-wrapper h3{
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: bold;
  margin-bottom: 25px;
  margin-top: 0px;
}

.dealer-footer-wrapper h3:after{
  display: block;
  content: "";
  width: 70px;
  height: 5px;
  background-color: rgba(128,128,128,.2);
  margin: 10px 0;
}

.dealer-footer-wrapper .form-search-footer{
  margin-bottom: 22px;
}

.dealer-footer-wrapper .textwidget {
  line-height: 1.6;
}

.dealer-footer-wrapper ul{
  padding-left: 0px;
  float: left;
}

.dealer-footer-wrapper ul li{
  list-style: none;
  line-height: 30px;
}

.dealer-footer-wrapper ul li a{
  color: #FFFFFF;
  text-decoration: none;
}
.dealer-footer-wrapper ul li a:hover{
  color: #FFFFFF;
}

.sub-footer{
  background-color: #333333;
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  color: #FFFFFF;
}

.sub-footer .mk-footer-corpyright{
  font-size: 13px;
  line-height: 16px;
  float: left;
  width: 60%;
}

.sub-footer .mk-footer-corpyright a{
  color: #FFFFFF;
}

.sub-footer .mk-footer-corpyright a:hover{
  color: #FFFFFF;
}

.sub-footer .mk-footer-social {
  margin: 0;
  padding: 0;
  list-style: none;
  float: right;
  width: 40%;
}

.sub-footer .mk-footer-social li {
  margin: 0px 10px;
  display: inline-block;
  float: right;
}

.sub-footer .mk-footer-social li a {
  color: #FFFFFF;
}

.sub-footer .mk-footer-social li a:hover {
  color: #149CC6;
}

.sub-footer .mk-footer-social li i {
  font-size: 16px;
  line-height: 16px;
}

.link-load-more{
  text-align: center;
  padding: 15px 16px;
}

.link-load-more a{
  color: #149CC6;
  font-size: 20px;
  font-weight: bold;
}

.backtotop {
  padding: 5px 10px;
  right: 40px;
  bottom: 45px;
  z-index: 99;
  position: fixed;
  text-align: center;
  color: #ffffff !important;
  font-size: 20px;
  background: #149CC6;
  text-transform: uppercase;
  cursor: pointer;
  overflow: hidden;
  display: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

a.link-underline {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 70px;
  text-decoration: underline;
  font-weight: bold;
  color: #149CC6;
  border-bottom: solid 4px #149CC6;
  padding-bottom: 10px;
}

/* loader */
#preloader {
  background: #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

#loaderInner {
  background:#ffffff url(/assets/preload.gif) center center no-repeat;
  height: 60px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  width: 60px;
}

@keyframes boxSpin{
  0%{
    transform: translate(-10px, 0px);
  }
  25%{
    transform: translate(10px, 10px);
  }
  50%{
    transform: translate(10px, -10px);
  }
  75%{
    transform: translate(-10px, -10px);
  }
  100%{
    transform: translate(-10px, 10px);
  }
}

@keyframes shadowSpin{
  0%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#load {
  background:#ffffff url(/assets/preload.gif) center center no-repeat;
  height: 80px;
  left: 50%;
  margin: -50px 0 0 -50px;
  position: fixed;
  top: 50%;
  width: 80px;
}
/*SCOPE GLOBAL CUSTOMIZE END*/

/*SCOPE HOMEPAGE START*/
.dealer-two-product{
  background-color: #FFFFFF;
  display: inline-block;
  padding: 0px;
  margin-top: 0px;
}

.dealer-two-product .image-product{
  height: 0;
  overflow: hidden;
  padding-bottom: 25%;
  float: left;
  width: 50%;
  position: relative;
}

.dealer-two-product .image-product .red{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 400px;
  background: transparent;
  opacity: 0;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.dealer-two-product .image-product .red .t-image-box{
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
}

.dealer-two-product .image-product .red img{
  width: 100%;
  position: relative;
  display: block;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.dealer-two-product .image-product .red .t-image-hover{
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  color: #149CC6;
}

.dealer-two-product .image-product:hover .red {
  opacity:1;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.dealer-two-product .image-product img{
  width: 100%;
  display: block;
}

.dealer-two-product .image-overlay-title{
  position: absolute;
  top: 10px;
  right: 0px;
  text-transform: uppercase;
  background-color: #333333;
  padding: 10px 50px 13px 22px;
  color: #149CC6;
  font-weight: bold;
  border-bottom: 4px solid #149CC6;
  border-left: 4px solid #149CC6;
  border-top: 4px solid #149CC6;
  font-size: 25px;
}

.dealer-about-home{
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
  margin-bottom: 30px;
}

.dealer-about-home .title{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  font-family: MyriadPro;
}

.dealer-about-home .description{
  font-size: 16px;
  color: #000000;
  text-align: justify;
  line-height: 30px;
  margin-top: 20px;
  font-family: MyriadPro;
}

.dealer-slide-product{
  background: url(/assets/bg-parallax.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 300px;
  margin: 0 auto;
  width: 100%;
  display: table;
  vertical-align: middle;
  padding-top: 40px;
  padding-bottom: 40px;
}

.dealer-slide-product .title{
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  color: #000000!important
}

.dealer-slide-product .title a{
  color: #000000!important;
}

.dealer-slide-product .media-carousel
{
  margin-bottom: 0;
  padding: 0 15px 30px 15px;
}
.dealer-slide-product .media-carousel .carousel-control.left
{
  left: -12px;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #149CC6;
  background: none!important;
  top: 0%;
}

.dealer-slide-product .media-carousel .carousel-control.right
{
  right: -12px !important;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #149CC6;
  background: none!important;
  top: 0%;
}

.dealer-slide-product .media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

.dealer-slide-product .media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}

.dealer-slide-product .media-carousel .carousel-indicators .active
{
  background: #333333;
}

.dealer-slide-product .media-carousel .image-box-recent-product{
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
  margin-bottom: 10px;
}

.dealer-slide-product .media-carousel  .image-box-recent-product img {
  width: 100%;
}

.dealer-video-blog{
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
}

.dealer-video-blog .title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.dealer-video-blog .description{
  font-size: 14px;
  color: #000000;
  text-align: center;
  line-height: 30px;
  margin-top: 20px;
}

.dealer-video-blog .title-category{
  text-transform: uppercase;
  color: #149CC6;
  font-size: 20px;
  font-weight: bold;
}

/*video blog google image*/
.og-grid {
  list-style: none;
  padding: 0px 0px 0px 0px;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-top: 40px;
}

.og-grid li {
  display: inline-block;
  margin: 4px 6px 50px 6px;
  vertical-align: top;
  height: 200px;
  width: 23%;
}

.og-grid li > a,
.og-grid li > a .box-image-og-grid{
  height: 0;
  overflow: hidden;
  padding-bottom: 55%;
}

.og-grid li > a,
.og-grid li > a img {
  position: relative;
  width: 100%;
}

.og-grid li.og-expanded{
  height: 620px!important;
}

.og-grid li.og-expanded > a::after {
  top: auto;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #333333;
  border-width: 15px;
  left: 0%;
  margin: 10px 0 0 -15px;
}

.og-grid li > a.image-google-wrapper{
  position: relative;
}

.video-blog-detail #myCarousel .overlay-image{
  position: absolute;
  top: 35%;
  background-color: rgba(255, 255, 255, 0.73);
  width: 100px;
  height: 100px;
  left: 44%;
  border-radius: 50%;
}

.video-blog-detail #myCarousel .overlay-image .fa {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 29px;
  left: 0;
  right: 0;
  font-size: 40px;
}

.og-grid li > a.image-google-wrapper .overlay-image {
  position: absolute;
  top: 20%;
  background-color: rgba(255, 255, 255, 0.73);
  width: 90px;
  height: 90px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
}

.og-grid li > a.image-google-wrapper .overlay-image .fa {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 26px;
  left: 8px;
  right: 0;
  font-size: 40px;
}

.og-expander {
  position: absolute;
  background: #333333;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 20px;
  text-align: left;
  overflow: hidden;
  height: 430px!important;
}

.og-expander-inner {
  padding: 50px 15px;
  height: 100%;
}

.og-expander-inner h3{
  margin-top: 0;
}

.og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.og-close::before,
.og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.og-close:hover::before,
.og-close:hover::after {
  background: #FFFFFF;
}

.og-fullimg,
.og-details {
  width: 50%;
  float: left;
  overflow: hidden;
  position: relative;
}

.og-details {
  padding: 0 40px 0 40px;
}

.og-fullimg {
  text-align: center;
  display: none;
}

.og-fullvideo iframe{
  width: 100%;
}

.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.og-details h3 {
  font-weight: 300;
  font-size: 30px;
  padding: 0px;
  margin-bottom: 10px;
  color: #149CC6;
}

.og-details p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #149CC6;
  text-align: justify;
}

.og-details a {
  font-weight: 700;
  font-size: 16px;
  color: #149CC6;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 20px;
  border: 3px solid #149CC6;
  display: inline-block;
  margin: 30px 0 0;
  outline: none;
}

.og-details a::before {
  content: '\2192';
  display: inline-block;
  margin-right: 10px;
}

.og-details a:hover {
  border-color: #149CC6;
  color: #149CC6;
}

.og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #149CC6;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
  0% { background: #ddd; }
  33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
  66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

  .og-expander h3 { font-size: 32px; }
  .og-expander p { font-size: 13px; }
  .og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

  .og-fullimg { display: block; }
  .og-details { float: none; width: 100%; }

}

.dealer-event-list{
  display: inline-block;
  width: 100%;
}

.dealer-event-list h2{
  text-align: center;
  font-size: 20px;
  color: #000000;
  margin-bottom: 40px;
}

.dealer-event-list .event-list-header{
  background-color: #EAEAEA;
  padding: 10px;
  margin-right: 5px;
}

.dealer-event-list .event-list-header span{
  color: #149CC6;
  font-weight: bold;
}

.dealer-event-list .event-list-body{
  margin-top: 5px;
  margin-right: 5px;
  display: inline-block;
  background-color: #FFFFFF;
}

.dealer-event-list .event-list-body .image-product{
  height: 0;
  overflow: hidden;
  padding-bottom: 84%;
}

.dealer-event-list .event-list-body .image-product img{
  width: 160%;
  display: block;
}

.dealer-event-list .event-list-body .event-description{
  padding: 10px 12px 3px 12px;
  border-bottom: 1px solid #EAEAEA;
}

.dealer-event-list .event-list-body .event-description .title{
  color: #149CC6;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.dealer-event-list .event-list-body .event-description .description{
  font-size: 12px;
  color: #000000;
  line-height: 22px;
}
/*SCOPE HOMEPAGE END*/

/*SCOPE PRODUCT SINGLE V1 START*/
.product-theta-viewer{
  display: inline-block;
  width: 100%;
  height: 550px;
  margin-top: -110px;
  position: relative;
}

.product-theta-viewer #theta-viewer{
  width: 100%!important;
  height: 100%!important;
}

.product-theta-viewer .box-description-interior{
  position: absolute;
  left: 113px;
  bottom: 30px;
  color: #FFFFFF;
  z-index: 15;
  display: block;
  margin-bottom: 0px;
  width: 18%;
}

.product-theta-viewer .box-description-interior .title-interior{
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.product-theta-viewer .box-description-interior .desc-interior{
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-left: 18px;
}

.product-theta-viewer .box-description-interior .image-interior{
  height: auto;
  overflow: hidden;
  margin-left: 18px;
}

.product-theta-viewer .box-description-interior .image-interior img{
  width: 100%;
  display: block;
}
/*SCOPE PRODUCT SINGLE V1 END*/

/*SCOPE PRODUCT SINGLE V2 START*/
.recent-product-5-item{
  margin-bottom: 10px;
}

.slider-product-single{
  margin-top: -105px;
  position: relative;
}

.slider-product-single .caption-one{
  display: block;
}

.slider-product-single .caption-one .image-indicators{
  position: absolute;
  bottom: 3px;
  right: 0;
  z-index: 15;
  width: 11%;
  padding-left: 0;
  margin-left: 24%;
  text-align: inherit;
  list-style: none;
  display: inline-block;
}

.slider-product-single .caption-one .image-indicators ul{}

.slider-product-single .caption-one .image-indicators ul li{
  list-style: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.slider-product-single .caption-one .image-indicators ul li img{
  width: 100px;
  height: 100px;
}

.slider-product-single .caption-two{
  display: none;
}

.slider-product-single .carousel-inner .item .image-zoom{
  position: relative!important;
}

.slider-product-single .carousel-inner .item .image-zoom img{
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
  width: 100%;
}

.slider-product-single .carousel-inner .item .image-zoom:hover img{
  -webkit-transform:scale(1.60); /* Safari and Chrome */
  -moz-transform:scale(1.60); /* Firefox */
  -ms-transform:scale(1.60); /* IE 9 */
  -o-transform:scale(1.60); /* Opera */
  transform:scale(1.60);
}

.box-description-interior{
  position: absolute;
  left: 113px;
  bottom: 10px;
  color: #FFFFFF;
  z-index: 15;
  display: block;
  margin-bottom: 9px;
  width: 16%;
}

.box-description-interior .title-interior{
  font-size: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 5px;
}

.box-description-interior .title-interior a{
  color: #FFFFFF;
}

.box-description-interior .desc-interior{
  font-size: 15px;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-left: 18px;
}

.box-description-interior .image-interior{
  height: auto;
  overflow: hidden;
  margin-left: 18px;
}

.box-description-interior .image-interior img{
  width: 100%;
  display: block;
}

.desc-product-single{
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.desc-product-single .desc-title{
  font-size: 25px;
  font-weight: bold;
  color: #149CC6;
  margin-bottom: 10px;
}

.desc-product-single .desc-price{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

.desc-product-video{}

.desc-product-video video {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: baseline;
}
.desc-product-video .video-wrap {
  height: 100%;
  width: 100%;
}

.desc-product-video .content-overlay {
  background: url(/assets/pattern.png) repeat;
  position: relative;
  z-index: 20;
  padding: 100%;
}

.desc-product-video .content-overlay-2 {
  position: absolute;
  color: #fff;
  z-index: 20;
  top: 20px;
  left: 0;
  width: 100%;
}

.desc-product-video .content-overlay-2 .box-feature-product-wrapper{
  margin-top: 20px;
}

.desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product{
  display: inline-block;
  margin-top: 50px;
}

.desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded{
  background-color: #149CC6;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded:hover{
  background-color: #000000;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product  .object-rounded i.fa{
  color: #FFFFFF;
  font-size: 40px;
  margin-top: 30px;
}

.desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .desc-feature{
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 40px;
  width: 100%;
}

.desc-product-video .text-overlay-example .video-wrap::before,
.with-header-example .video-wrap::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.desc-product-video header {
  height: 100px;
  background-color: #ddd;
}

.desc-product-video .outer-wrap {
  height: 500px;
}

.desc-other-product{
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
}

.desc-other-product .title{
  text-align: center;
  font-size: 22px;
  font-family: MyriadPro;
}

.desc-other-product .media-carousel
{
  margin-bottom: 0;
  padding: 0 15px 30px 15px;
  margin-top: 30px;
}

.desc-other-product .media-carousel .carousel-control.left
{
  left: -12px;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #149CC6;
  background: none!important;
  top: -15%;
}

.desc-other-product .media-carousel .carousel-control.right
{
  right: -12px !important;
  height: 40px;
  width : 40px;
  font-size:100px;
  color: #149CC6;
  background: none!important;
  top: -15%;
}

.desc-other-product .media-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

.desc-other-product .media-carousel .carousel-indicators li
{
  background: #c0c0c0;
}

.desc-other-product .media-carousel .carousel-indicators .active
{
  background: #149CC6;
}

.desc-other-product .media-carousel .image-box-recent-product{
  height: 0;
  overflow: hidden;
  padding-bottom: 50%;
}

.desc-other-product .media-carousel  .image-box-recent-product img {
  width: 100%;
}
/*SCOPE PRODUCT SINGLE V2 END*/

/*SCOPE NEWS & EVENT START*/
.dealer-news-event-wrapper{
  background-color: #FFFFFF;
  width: 100%;
}

.dealer-news-event-wrapper .title-news-event-top{
  font-size: 30px;
  color: #000000;
  text-align: center;
  line-height: 50px;
}

.dealer-news-event-wrapper .description-news-event-top{
  font-size: 18px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 60px;
}

.dealer-news-event-wrapper{
  display: inline-block;
  width: 100%;
}

.dealer-news-event-wrapper h2{
  text-align: center;
  font-size: 20px;
  color: #000000;
  margin-bottom: 40px;
}

.dealer-news-event-wrapper .event-list-header{
  background-color: transparent;
  padding: 15px 0px;
}

.dealer-news-event-wrapper .event-list-header span{
  color: #149CC6;
  font-weight: bold;
  font-size: 20px;
}

.dealer-news-event-wrapper .event-list-body{
  margin-top: 15px;
  display: inline-block;
  background-color: #FFFFFF;
}

.dealer-news-event-wrapper .event-list-body .image-product{
  height: 0;
  overflow: hidden;
  padding-bottom: 84%;
}

.dealer-news-event-wrapper .event-list-body .image-product img{
  width: 160%;
  display: block;
}

.dealer-news-event-wrapper .event-list-body .event-description{
  padding: 5px 11px 0px 12px;
}

.dealer-news-event-wrapper .event-list-body .event-description .title{
  color: #149CC6;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 5px;
}

.dealer-news-event-wrapper .event-list-body .event-description .description{
  font-size: 14px;
  color: #000000;
  line-height: 25px;
  text-align: justify;
  margin-top: 0px;
}

.dealer-event-grid{
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
}

.dealer-event-grid .title{
  text-align: center;
  font-size: 25px;
  font-family: MyriadPro;
  color: #000000;
  letter-spacing: 5px;
}

.dealer-event-grid .description{
  font-size: 20px;
  color: #000000;
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  font-family: MyriadPro;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}

.dealer-event-grid .box-link-isotope-event{
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.dealer-event-grid .box-link-isotope-event ul{
  padding-left: 0px;
}

.dealer-event-grid .box-link-isotope-event ul li{
  float: left;
  list-style: none;
  margin-right: 20px;
}

.dealer-event-grid .box-link-isotope-event ul li a{
  background-color: #FFFFFF;
  padding: 10px;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.dealer-event-grid .box-link-isotope-event ul li a:hover{
  background-color: #149CC6!important;
  color: #FFFFFF!important;
}

.dealer-event-grid .box-link-isotope-event ul li a.active{
  background-color: #149CC6!important;
  color: #FFFFFF!important;
}

.dealer-event-grid #pinBoot {
  position: relative!important;
  max-width: 100%;
  width: 100%;
  padding: 0px;
  margin-top: 50px;
  margin: 0;
}
.dealer-event-grid #pinBoot img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.dealer-event-grid #pinBoot .white-panel {
  position: absolute!important;
  background: white;
  padding: 10px;
  left: 0px!important;
  margin-bottom: 0px!important;
  top: 0!important;
}

.dealer-event-grid #pinBoot .white-panel h4 {
  font-size: 1em;
  font-weight: bold;
  margin-top: 15px;
}

.dealer-event-grid #pinBoot .white-panel h4 a {
  color: #149CC6;
}

.dealer-event-grid #pinBoot .white-panel .hr-black{
  background-color: #000000;
  height: 1px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.dealer-event-grid #pinBoot .white-panel p {
  text-align: justify;
}

/*.dealer-event-grid #pinBoot .white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}*/


.dealer-event-single{
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
}

.dealer-event-single .event-list-header{
  background-color: #EAEAEA;
  padding: 15px;
}

.dealer-event-single .event-list-header span{
  color: #000000;
  font-weight: bold;
  letter-spacing: 5px;
}

.dealer-event-single .event-list-body{
  margin-top: 5px;
  display: inline-block;
  background-color: #FFFFFF;
}

.dealer-event-single .event-list-body .image-product{
  height: 0;
  overflow: hidden;
  padding-bottom: 84%;
}

.dealer-event-single .event-list-body .image-product img{
  width: 160%;
  display: block;
}

.dealer-event-single .event-list-body .event-description{
  padding: 5px 11px 9px 12px;
  border-bottom: 1px solid #EAEAEA;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.dealer-event-single .event-list-body .event-description:hover{
  background-color: #F9F9F9;
  -webkit-transition:all .4s ease-in-out!important;
  -moz-transition:all .4s ease-in-out!important;
  ms-transition:all .4s ease-in-out!important;
  -o-transition:all .4s ease-in-out!important;
  transition:all .4s ease-in-out!important;
}

.dealer-event-single .event-list-body .event-description .title{
  color: #149CC6;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 1px;
}

.dealer-event-single .event-list-body .event-description .description{
  font-size: 12px;
  color: #000000;
  line-height: 20px;
}

.dealer-event-single .news-event-title-big{
  font-size: 30px;
  color: #000000;
  margin-bottom: 20px;
  line-height: 22px;
  letter-spacing: 3px;
}

.dealer-event-single .news-event-date{
  font-size: 15px;
  color: #000000;
}

.dealer-event-single p{
  line-height: 30px;
  margin-top: 20px;
}

/*SCOPE NEWS & EVENT END*/

/*SCOPE CAROUSEL VIDEO BLOG DETAIL*/
.video-blog-detail{
  display: inline-block;
  background-color: #FFFFFF;
  width: 100%;
}

.video-blog-detail #myCarousel .carousel-caption {
  left: 0;
  right: 0;
  bottom: 500px;
  top: 0px;
  text-align: left;
  padding: 10px;
  background: transparent;
  text-shadow: none;
  font-size: 20px;
  font-weight: bold;
  color: #149CC6;
  text-transform: uppercase;
}

.video-blog-detail #myCarousel .overlay-image{
  position: absolute;
  top: 35%;
  background-color: rgba(255, 255, 255, 0.73);
  width: 100px;
  height: 100px;
  left: 44%;
  border-radius: 50%;
}

.video-blog-detail #myCarousel .overlay-image .fa {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 29px;
  left: 0;
  right: 0;
  font-size: 40px;
}

.video-blog-detail #myCarousel .overlay-image .play-icon{
  background: url(/assets/play.png);
  width: 89px;
  height: 80px;
  position: absolute;
  left: -5px;
}

.video-blog-detail #myCarousel .list-group {
  position:absolute;
  top:0;
  right:0;
  overflow: scroll;
  overflow-x:auto;
  height: 100%;
}

.video-blog-detail #myCarousel .list-group img{
  width: 120%;
  margin-right: -15px;
  margin-left: -16px;
}

.video-blog-detail #myCarousel .list-group-item {
  border-radius: 0px;
  cursor: pointer;
  padding: 0px 0px 0px 0px;
  margin-bottom: 0px;
  background-color: #fff;
  border: 0px solid #FFFFFF;
  border-bottom: 1px solid #333333;
  height: 82px!important;
}

.video-blog-detail #myCarousel .carousel-inner .item .image-big-slide{
  height: 0;
  overflow: hidden;
  padding-bottom: 43%;
}

.video-blog-detail #myCarousel .carousel-inner .item .image-big-slide img{
  width: 100%;
  display: block;
}

.video-blog-detail #myCarousel .list-group-item .image-list{
  height: 0;
  overflow: hidden;
  padding-bottom: 54%;
}

.video-blog-detail #myCarousel .list-group-item .image-list img{
  width: 100%;
  display: block;
}

.video-blog-detail #myCarousel .list-group-item .overlay-image{
  position: absolute;
  top: 25%;
  background-color: rgba(255, 255, 255, 0.73);
  width: 40px;
  height: 40px;
  left: 0;
  right: 18px;
  margin: 0 auto;
  border-radius: 50%;
}

.video-blog-detail #myCarousel .list-group-item .overlay-image .fa {
  position: absolute;
  text-align: center;
  color: #ffffff;
  top: 10px;
  left: 3px;
  right: 0;
  font-size: 20px;
}

.video-blog-detail #myCarousel .list-group-item h4{
  color: #149CC6;
  margin-right: -15px;
  margin-left: -16px;
  padding-left: 0px;
  font-size: 14px;
}

.video-blog-detail #myCarousel .list-group-item .desc-p-video{
  color: #149CC6;
  margin-right: -15px;
  margin-left: -16px;
  padding-left: 0px;
  font-size: 11px;
}

.video-blog-detail #myCarousel .list-group .active {
  background-color:#333333;
}

.video-blog-detail #myCarousel .list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  z-index: 2;
  color: #149CC6;
  border-color: #333333;
}

@media (min-width: 992px) {
  .video-blog-detail #myCarousel {padding-right:33.3333%;}
}
@media (max-width: 991px) {
  .video-blog-detail .carousel-caption p,
  .video-blog-detail #myCarousel .list-group {display:block;}
}

.video-blog-detail .info-p-slider-top{
  margin-top: 40px;
  margin-bottom: -50px;
}

.video-blog-detail .info-p-slider-top h2{
  color: #000000;
  margin-bottom: 20px;
}

.video-blog-detail .info-p-slider-top p{
  line-height: 30px;
  color: #000000;
  text-align: justify;
}
/*SCOPE CAROUSEL VIDEO BLOG DETAIL END*/

/*
* @author     : Ratno Sidik
* @company    : Creative Design Sukabumi - www.creativedesignsukabumi.com
* @production : 22 Oktober 2015 - Start At 11:45-00:00:27 PM
*/

/*
1. SCOPE LISTING PRODUCT
2. SCOPE ABOUT-US
3. SCOPE CONTACT-US
*/

/*SCOP LISTING PRODUCT*/
.dealer-page-product-list-wrapper{
  background-color: #FFFFFF;
}

.dealer-page-product-list-wrapper .dealer-box-product-list{
  margin-bottom: 50px;
}

.dealer-page-product-list-wrapper .dealer-box-product-list .title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #149CC6;
  margin-bottom: 20px;
}

.dealer-page-product-list-wrapper .dealer-box-product-list .image-page-product-list{
  height: 0;
  overflow: hidden;
  padding-bottom: 84%;
  position: relative;
  margin-bottom: 25px;
}

.dealer-page-product-list-wrapper .dealer-box-product-list .image-page-product-list .image {
  position: absolute;
  -webkit-transform: translate(-50%,-50%); /* Safari and Chrome */
  -moz-transform: translate(-50%,-50%); /* Firefox */
  -ms-transform: translate(-50%,-50%); /* IE 9 */
  -o-transform: translate(-50%,-50%); /* Opera */
  transform: translate(-50%,-50%);
  height: 0;
}

.dealer-page-product-list-wrapper .dealer-box-product-list .image-page-product-list .image img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.dealer-page-product-list-wrapper .dealer-box-product-list .image-page-product-list .image:hover img {
  -webkit-transform:scale(1.80); /* Safari and Chrome */
  -moz-transform:scale(1.80); /* Firefox */
  -ms-transform:scale(1.80); /* IE 9 */
  -o-transform:scale(1.80); /* Opera */
  transform:scale(1.80);
}

.dealer-page-product-list-wrapper .dealer-box-product-list .image-page-product-list img{
  width: 160%;
  display: block;
}

.dealer-page-product-list-wrapper .dealer-box-product-list .image-page-product-list .overlay-image-page-product-list{
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.58);
  padding: 10px;
  color: #7D7D7D;
  width: 100%;
  font-size: 12px;
  font-weight: bold;
}

/*SCOPE ABOUT-US*/

body.home .main-nav .navbar-collapse.collapsing {
  background-color: transparent;
}

.jumbotron {
  background: #000 url(/assets/interior2.jpg) no-repeat center center fixed;
  display: table;
  position: relative;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  margin-top: 10px;
  overflow: hidden;
}

.image-about-big{
  margin-top: -110px;
}

.image-about-big p{
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 200;
}

.image-about-big .row-wrapper {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  height: 100%;
  padding: 20px;
  font-size: 12px;
  margin-top: 150px;
}

.title-style-jumbotron {
  font-size: 20px;
  color: #149CC6;
  font-weight: bold;
}

.prestige-spacing {
  letter-spacing: 3px;
}

.margin-style {
  margin-top: 80px;
  font-size: 30px;
}

.margin-style p {
  font-size: 28px;
}

.title-style {
  color: #149CC6;
  font-weight: bold;
}

.margin-bottom-default {
  margin-bottom: 40px;
}

p.lh-25{
  line-height: 25px;
}

.about-desc-wrapper{}

.about-desc-wrapper .title{
  font-size: 30px;
  color: #000000;
}

.about-desc-wrapper .description{
  font-size: 20px;
  color: #000000;
  margin-top: 20px;
}

.about-video-embed{
  margin-bottom: 10px;
}

/*SCOPE CONTACT-US*/
.contact-information-wrapper{
  margin-top: 20px;
}

.contact-information-wrapper .title{
  font-size: 25px;
  color: #149CC6;
}

.contact-information-wrapper .address{
  font-size: 16px;
  color: #149CC6;
  line-height: 40px;
}

.contact-information-wrapper .phone{
  font-size: 16px;
  color: #149CC6;
}

.gmap3 {
  width: 100%;
  height: 400px;
  margin-top: -100px;
}

.full-width {
  width: 100%;
}

.navbar-trasparent-contact {
  background-color: rgba(255, 255, 255, 0.7);
}

.map-margin {
  margin-top: -110px;
}
.margin-bottom-contact {
      margin-bottom: 20px;
}
.map-bottom {
    margin-bottom: 70px;
}

.container-fluid-mix {
  margin-right: auto;
  margin-left: auto;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.row-centered {
    text-align: center;
}

.label-text{
    color: #149CC6;
    font-weight: bold;
    margin-bottom: 35px;
}
