/*
* @author     : Fathan Rohman
* @company    : Creative Design Sukabumi - www.creativedesignsukabumi.com
* @production : 6 Oktober 2015 - Start At 07:45-00:00:27 PM
*/

/*SCOPE SCREEN 1024PX START*/
@media screen and (max-width: 1024px) {

}
/*SCOPE SCREEN 1024PX END*/

/*SCOPE SCREEN 990PX START*/
@media screen and (max-width: 990px) {
  .navbar-nav {
    margin-top: 40px;
  }

  .margin-bottom-contact .input-group .form-control{
    margin-bottom: 10px;
  }

  .video-blog-detail #myCarousel {padding-right:0%;}

  .video-blog-detail #myCarousel .list-group{
    width: 100%;
    position: inherit;
    height: 328px;
  }

  .video-blog-detail #myCarousel .list-group-item .image-list img {
    width: 21%;
    display: block;
  }

  .video-blog-detail #myCarousel .list-group-item .image-list {
    height: 0;
    overflow: inherit;
    padding-bottom: 0%;
  }

  .video-blog-detail #myCarousel .list-group-item h4 {
    font-size: 14px;
    margin-left: 130px;
  }

  .video-blog-detail #myCarousel .list-group-item .desc-p-video {
    margin-left: 130px;
  }

  .video-blog-detail #myCarousel .list-group-item .overlay-image {
    top: 20px;
    width: 40px;
    height: 40px;
    left: 60px;
    right: 0;
    margin: inherit;
  }
}
/*SCOPE SCREEN 990PX END*/

/*SCOPE SCREEN 950PX START*/
@media screen and (max-width: 950px) {
  .navbar-nav {
    margin-top: 0px;
  }

  .dealer-news-event-wrapper .title-news-event-top {
    font-size: 23px;
  }

  .dealer-news-event-wrapper .description-news-event-top {
    font-size: 15px;
  }

  .dealer-news-event-wrapper .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-top: 10px;
  }

  #search input[type="search"]{
    top: 52%;
    font-size: 33px;
  }
}
/*SCOPE SCREEN 950PX END*/

/*SCOPE SCREEN 850PX START*/
@media screen and (max-width: 850px) {
  .og-grid li.og-expanded{
    height: 690px!important;
  }

  .navbar-nav {
    margin-top: 0px;
  }

  .dealer-news-event-wrapper .title-news-event-top {
    font-size: 23px;
  }

  .dealer-news-event-wrapper .description-news-event-top {
    font-size: 15px;
  }

  .dealer-news-event-wrapper .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-top: 10px;
  }

  #search input[type="search"]{
    top: 53%;
    font-size: 31px;
  }

  .desc-product-single .desc-title {
    font-size: 20px;
  }

  .desc-product-single .desc-price {
    font-size: 18px;
  }

  .slider-product-single {
    margin-top: 0px;
  }

  .slider-product-single .caption-one .image-indicators {
    position: absolute;
    bottom: 3px;
    right: 44px;
    z-index: 15;
    width: 11%;
    padding-left: 0;
    margin-left: 0%;
    text-align: inherit;
    list-style: none;
    display: inline-block;
  }

  .slider-product-single .caption-one .image-indicators ul li img {
    width: 70px;
    height: 65px;
  }

  .slider-product-single .box-description-interior {
    position: absolute;
    left: 70px;
    bottom: 10px;
    color: #FFFFFF;
    z-index: 15;
    display: block;
    margin-bottom: 9px;
    width: 50%;
  }

  .slider-product-single .box-description-interior .title-interior {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  .slider-product-single .box-description-interior .desc-interior {
    font-size: 9px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 18px;
  }

  .slider-product-single .box-description-interior .image-interior img {
    width: 27%;
    display: block;
  }
}
/*SCOPE SCREEN 850PX END*/

/*SCOPE SCREEN 750PX START*/
@media screen and (max-width: 768px) {
  .video-blog-detail #myCarousel .list-group-item .image-list img{
    width: 20%;
    height: 82px;
  }

  .og-grid li.og-expanded{
    height: 690px!important;
  }

  .og-grid li > a.image-google-wrapper .overlay-image{
    width: 50px;
    height: 50px;
  }

  .og-grid li > a.image-google-wrapper .overlay-image .fa {
    top: 17px;
    left: 4px;
    font-size: 20px;
  }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #149CC6;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
  }

  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .navbar-toggle{
    margin-right: 0px;
  }

  .navbar{
    min-height: 50px;
  }

  .navbar-default {
    background-color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
  }

  .navbar-nav{
    margin-top: 0px;
  }

  .navbar-brand > img {
    display: block;
    width: 36%;
    margin-top: 0px;
  }

  .modern-slider-prestigecar .box-information-slider {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 150px;
    left: 51px;
    right: 0;
    margin: 0 auto!important;
    top: 58px;
    padding: 30px!important;
  }

  .dealer-two-product .image-product {
    padding-bottom: 50%;
    width: 100%;
  }

  .dealer-two-product .image-product .red .t-image-box{
    padding-bottom: 50%;
  }

  .dealer-two-product .image-product .red .t-image-box img{
    width: 100%;
    height: 300px;
  }

  .dealer-slide-product .media-carousel .carousel-control.left span{
    top: 10px;
  }

  .dealer-slide-product .media-carousel .carousel-control.right span{
    top: 10px;
  }

  .dealer-event-grid .title {
    font-size: 19px;
  }

  .dealer-event-grid .description {
    font-size: 12px;
    line-height: 22px;
  }

  .dealer-event-grid .box-link-isotope-event{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li{
    margin-right: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li a {
    font-size: 12px;
  }

  .dealer-event-grid #pinBoot{
    margin-top: 50px;
  }

  .dealer-news-event-wrapper .title-news-event-top {
    font-size: 23px;
  }

  .dealer-news-event-wrapper .description-news-event-top {
    font-size: 14px;
  }

  .dealer-news-event-wrapper .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-top: 10px;
  }

  #search input[type="search"]{
    top: 54%;
    font-size: 30px;
  }

  .desc-product-single .desc-title {
    font-size: 19px;
  }

  .desc-product-single .desc-price {
    font-size: 17px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded{
    width: 80px;
    height: 80px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded i.fa{
    font-size: 30px;
    margin-top: 24px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .desc-feature{
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
  }

  .dealer-footer-wrapper h3{
    margin-top: 25px;
  }

  .sub-footer .mk-footer-corpyright{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .sub-footer .mk-footer-social{
    float: none!important;
    display: block;
    margin: 20px 0 0!important;
    text-align: center;
    width: 100%;
  }

  .sub-footer .mk-footer-social li {
    float: none;
  }

  .video-blog-detail #myCarousel .overlay-image {
    position: absolute;
    top: 40%;
    background-color: rgba(255, 255, 255, 0.73);
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
  }

  .video-blog-detail #myCarousel .overlay-image .fa {
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 14px;
    left: 6px;
    right: 0;
    font-size: 40px;
  }

  .contact-information-wrapper {
    margin-top: 20px;
  }

  .contact-information-wrapper .title{
    font-size: 22px;
    color: #149CC6;
  }

  .contact-information-wrapper .address{
    font-size: 16px;
    color: #149CC6;
    line-height: 40px;
  }

  .contact-information-wrapper .phone{
    font-size: 16px;
    color: #149CC6;
  }

  .product-theta-viewer .box-description-interior {
    left: 10px;
    bottom: 113px;
    margin-bottom: 9px;
    width: 94%;
  }

  .product-theta-viewer .box-description-interior .image-interior img{
    display: none;
  }

  .desc-other-product .media-carousel .carousel-control.left{
    top: 0%;
  }

  .desc-other-product .media-carousel .carousel-control.right{
    top: 0%;
  }

  .slider-product-single {
    margin-top: 0px;
  }

  .slider-product-single .caption-one .image-indicators {
    position: absolute;
    bottom: 3px;
    right: 44px;
    z-index: 15;
    width: 11%;
    padding-left: 0;
    margin-left: 0%;
    text-align: inherit;
    list-style: none;
    display: inline-block;
  }

  .slider-product-single .caption-one .image-indicators ul li img {
    width: 55px;
    height: 55px;
  }

  .slider-product-single .box-description-interior {
    position: absolute;
    left: 70px;
    bottom: 10px;
    color: #FFFFFF;
    z-index: 15;
    display: block;
    margin-bottom: 9px;
    width: 50%;
  }

  .slider-product-single .box-description-interior .title-interior {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  .slider-product-single .box-description-interior .desc-interior {
    font-size: 9px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 18px;
  }

  .slider-product-single .box-description-interior .image-interior img {
    width: 27%;
    display: block;
  }

  .og-fullvideo{
    float: left;
    width: 50%;
  }

  .og-details{
    float: right;
    width: 50%;
  }

  .og-expander{
    height: 560px!important;
  }
}
/*SCOPE SCREEN 750PX END*/

/*SCOPE SCREEN 650PX START*/
@media screen and (max-width: 650px) {
  .og-grid li.og-expanded{
    height: 1040px!important;
  }

  .video-blog-detail #myCarousel .list-group-item .image-list img{
    width: 25%;
    height: 82px;
  }

  .og-grid li > a.image-google-wrapper .overlay-image{
    width: 100px;
    height: 100px;
    top: 100px;
  }

  .og-grid li > a.image-google-wrapper .overlay-image .fa {
    top: 24px;
    left: 15px;
    font-size: 50px;
  }

  a.link-underline {
    font-size: 12px;
  }

  .main-nav .navbar-brand img {
    height: 30px;
    margin-top: 10px;
  }

  .main-nav .navbar-brand {
    padding: 0 0 0 0px;
  }

  .modern-slider-prestigecar {
    margin-top: -99px;
  }

  .modern-slider-prestigecar .box-information-slider {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 250px;
    height: 150px;
    left: 51px;
    right: 0;
    margin: 0 auto!important;
    top: 58px;
    padding: 30px!important;
  }

  .og-grid{
    padding: 0px 0px 0px 0px;
  }

  .og-grid li{
    width: 90%;
    height: auto;
  }

  .dealer-event-list .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-bottom: 20px;
    margin-top: 7px;
  }

  .dealer-two-product .image-product{
    padding-bottom: 62%;
    width: 100%;
  }

  .dealer-two-product .image-overlay-title{
    font-size: 10px;
  }

  .dealer-two-product .image-product .red .t-image-box{
    padding-bottom: 62%;
  }

  .dealer-two-product .image-product .red .t-image-box img{
    width: 100%;
    height: 200px;
  }

  .dealer-two-product .image-product .red .t-image-hover{
    font-size: 10px;
  }

  .dealer-about-home .title{
    font-size: 15px;
  }

  .dealer-about-home .description {
    font-size: 12px;
  }

  .dealer-slide-product .title {
    font-size: 15px;
  }

  .dealer-video-blog .title{
    font-size: 15px;
  }

  .dealer-video-blog .description {
    font-size: 12px;
  }

  .dealer-event-list h2 {
    font-size: 15px;
  }

  .dealer-news-event-wrapper .title-news-event-top {
    font-size: 22px;
  }

  .dealer-news-event-wrapper .description-news-event-top {
    font-size: 14px;
  }

  .dealer-news-event-wrapper .event-list-header span{
    font-size: 15px;
  }

  .dealer-news-event-wrapper .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-top: 10px;
  }

  .dealer-event-single .news-event-title-big {
    font-size: 20px;
  }

  .dealer-event-single p {
    font-size: 12px;
    text-align: justify;
  }

  .dealer-event-single .event-list-header span{
    font-size: 12px;
  }

  .dealer-event-single .event-list-body .event-description {
    padding: 5px 11px 9px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .dealer-event-grid #pinBoot{
    margin-left: 10px;
    margin-right: 20px;
  }

  .video-blog-detail .info-p-slider-top {
    margin-top: 20px;
  }

  .video-blog-detail .info-p-slider-top h2 {
    font-size: 15px;
  }

  .video-blog-detail .info-p-slider-top p{
    font-size: 12px;
  }

  .og-grid li > a, .og-grid li > a img{
    width: 100%;
    height: auto;
  }

  .dealer-event-grid .title {
    font-size: 18px;
  }

  .dealer-event-grid .description {
    font-size: 11px;
    line-height: 20px;
  }

  .dealer-event-grid .box-link-isotope-event{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li{
    margin-right: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li a {
    font-size: 11px;
  }

  .dealer-event-grid #pinBoot{
    margin-top: 50px;
  }

  #search input[type="search"]{
    top: 55%;
    font-size: 29px;
  }

  .desc-product-single .desc-title {
    font-size: 18px;
  }

  .desc-product-single .desc-price {
    font-size: 16px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded{
    width: 80px;
    height: 80px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded i.fa{
    font-size: 30px;
    margin-top: 24px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .desc-feature{
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
  }

  .video-blog-detail #myCarousel .overlay-image {
    position: absolute;
    top: 45%;
    background-color: rgba(255, 255, 255, 0.73);
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
  }

  .video-blog-detail #myCarousel .overlay-image .fa {
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 14px;
    left: 6px;
    right: 0;
    font-size: 40px;
  }

  .contact-information-wrapper {
    margin-top: 20px;
  }

  .contact-information-wrapper .title{
    font-size: 19px;
    color: #149CC6;
  }

  .contact-information-wrapper .address{
    font-size: 15px;
    color: #149CC6;
    line-height: 40px;
  }

  .contact-information-wrapper .phone{
    font-size: 15px;
    color: #149CC6;
  }

  .product-theta-viewer .box-description-interior {
    left: 10px;
    bottom: 113px;
    margin-bottom: 9px;
    width: 94%;
  }

  .product-theta-viewer .box-description-interior .image-interior img{
    display: none;
  }

  .desc-other-product .media-carousel .carousel-control.left{
    top: 0%;
  }

  .desc-other-product .media-carousel .carousel-control.right{
    top: 0%;
  }

  .slider-product-single {
    margin-top: 0px;
  }

  .slider-product-single .caption-one .image-indicators {
    position: absolute;
    bottom: 3px;
    right: 44px;
    z-index: 15;
    width: 11%;
    padding-left: 0;
    margin-left: 0%;
    text-align: inherit;
    list-style: none;
    display: inline-block;
  }

  .slider-product-single .caption-one .image-indicators ul li img {
    width: 40px;
    height: 40px;
  }

  .slider-product-single .box-description-interior {
    position: absolute;
    left: 70px;
    bottom: 10px;
    color: #FFFFFF;
    z-index: 15;
    display: block;
    margin-bottom: 9px;
    width: 40%;
  }

  .slider-product-single .box-description-interior .title-interior {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  .slider-product-single .box-description-interior .desc-interior {
    font-size: 9px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 18px;
  }

  .slider-product-single .box-description-interior .image-interior img {
    width: 40%;
    display: block;
  }

  .og-fullimg{
    height: auto;
    width: 100%;
    margin-top: 70px;
  }

  .og-fullvideo .embed-responsive{
    overflow: inherit;
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .og-fullvideo{
    float: none;
    width: 100%;
  }

  .og-details{
    padding: 0px 20px;
    float: none;
    width: 100%;
  }

  .og-expander{
    height: 690px!important;
  }

  .og-expander-inner{
    padding: 10px 10px;
  }

  .og-details h3{
    font-size: 16px;
  }

  .og-expander p{
    font-size: 12px;
    margin-bottom: 0px;
  }

  .og-details a{
    margin: 10px 0px 0px 0px;
  }

  .og-grid{
    padding: 0px 0px 0px 0px;
  }
}
/*SCOPE SCREEN 650PX END*/

/*SCOPE SCREEN 550PX START*/
@media screen and (max-width: 550px) {
  .og-grid li.og-expanded{
    height: 960px!important;
  }

  .video-blog-detail #myCarousel .list-group-item .image-list img{
    width: 30%;
    height: 82px;
  }

  .og-grid li > a.image-google-wrapper .overlay-image{
    width: 100px;
    height: 100px;
    top: 100px;
  }

  .og-grid li > a.image-google-wrapper .overlay-image .fa {
    top: 24px;
    left: 15px;
    font-size: 50px;
  }

  a.link-underline {
    font-size: 12px;
  }

  .main-nav .navbar-brand img {
    height: 30px;
    margin-top: 10px;
  }

  .main-nav .navbar-brand {
    padding: 0 0 0 0px;
  }

  .modern-slider-prestigecar {
    margin-top: -99px;
  }

  .modern-slider-prestigecar .box-information-slider {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 159px;
    height: 90px;
    left: 51px;
    right: 0;
    margin: 0 auto!important;
    top: 58px;
    padding: 21px!important;
  }

  .modern-slider-prestigecar .box-information-slider .title{
    left: 26px;
  }

  .og-grid{
    padding: 0px 0px 0px 0px;
  }

  .og-grid li{
    width: 90%;
    padding: 4px 6px 0px 6px;
  }

  .dealer-event-list .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-bottom: 20px;
    margin-top: 7px;
  }

  .dealer-two-product .image-product{
    padding-bottom: 62%;
    width: 100%;
  }

  .dealer-two-product .image-overlay-title{
    font-size: 10px;
  }

  .dealer-two-product .image-product .red .t-image-box{
    padding-bottom: 62%;
  }

  .dealer-two-product .image-product .red .t-image-box img{
    width: 100%;
    height: 200px;
  }

  .dealer-two-product .image-product .red .t-image-hover{
    font-size: 10px;
  }

  .dealer-about-home .title{
    font-size: 15px;
  }

  .dealer-about-home .description {
    font-size: 12px;
  }

  .dealer-slide-product .title {
    font-size: 15px;
  }

  .dealer-video-blog .title{
    font-size: 15px;
  }

  .dealer-video-blog .description {
    font-size: 12px;
  }

  .dealer-event-list h2 {
    font-size: 15px;
  }

  .dealer-news-event-wrapper .title-news-event-top {
    font-size: 22px;
  }

  .dealer-news-event-wrapper .description-news-event-top {
    font-size: 13px;
  }

  .dealer-news-event-wrapper .event-list-header span{
    font-size: 15px;
  }

  .dealer-news-event-wrapper .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-top: 10px;
  }

  .dealer-event-single .news-event-title-big {
    font-size: 20px;
  }

  .dealer-event-single p {
    font-size: 12px;
    text-align: justify;
  }

  .dealer-event-single .event-list-header span{
    font-size: 12px;
  }

  .dealer-event-single .event-list-body .event-description {
    padding: 5px 11px 9px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .dealer-event-grid #pinBoot{
    margin-left: 10px;
    margin-right: 20px;
  }

  .video-blog-detail .info-p-slider-top {
    margin-top: 20px;
  }

  .video-blog-detail .info-p-slider-top h2 {
    font-size: 15px;
  }

  .video-blog-detail .info-p-slider-top p{
    font-size: 12px;
  }

  .og-grid li > a, .og-grid li > a img{
    width: 100%;
    height: auto;
  }

  .dealer-event-grid .title {
    font-size: 17px;
  }

  .dealer-event-grid .description {
    font-size: 11px;
    line-height: 20px;
  }

  .dealer-event-grid .box-link-isotope-event{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li{
    margin-right: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li a {
    font-size: 10px;
  }

  .dealer-event-grid #pinBoot{
    margin-top: 50px;
  }

  #search input[type="search"]{
    top: 56%;
    font-size: 28px;
  }

  .desc-product-single .desc-title {
    font-size: 17px;
  }

  .desc-product-single .desc-price {
    font-size: 15px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded{
    width: 80px;
    height: 80px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded i.fa{
    font-size: 30px;
    margin-top: 24px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .desc-feature{
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
  }

  .video-blog-detail #myCarousel .overlay-image {
    position: absolute;
    top: 40%;
    background-color: rgba(255, 255, 255, 0.73);
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
  }

  .video-blog-detail #myCarousel .overlay-image .fa {
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 14px;
    left: 6px;
    right: 0;
    font-size: 40px;
  }

  .contact-information-wrapper {
    margin-top: 20px;
  }

  .contact-information-wrapper .title{
    font-size: 18px;
    color: #149CC6;
  }

  .contact-information-wrapper .address{
    font-size: 14px;
    color: #149CC6;
    line-height: 40px;
  }

  .contact-information-wrapper .phone{
    font-size: 14px;
    color: #149CC6;
  }

  .product-theta-viewer .box-description-interior {
    left: 10px;
    bottom: 113px;
    margin-bottom: 9px;
    width: 94%;
  }

  .product-theta-viewer .box-description-interior .image-interior img{
    display: none;
  }

  .desc-other-product .media-carousel .carousel-control.left{
    top: 0%;
  }

  .desc-other-product .media-carousel .carousel-control.right{
    top: 0%;
  }

  .slider-product-single {
    margin-top: 0px;
  }

  .slider-product-single .caption-one .image-indicators {
    position: absolute;
    bottom: 3px;
    right: 44px;
    z-index: 15;
    width: 11%;
    padding-left: 0;
    margin-left: 0%;
    text-align: inherit;
    list-style: none;
    display: inline-block;
  }

  .slider-product-single .caption-one .image-indicators ul li img {
    width: 35px;
    height: 35px;
  }

  .slider-product-single .box-description-interior {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #FFFFFF;
    z-index: 15;
    display: block;
    margin-bottom: 9px;
    width: 40%;
  }

  .slider-product-single .box-description-interior .title-interior {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  .slider-product-single .box-description-interior .desc-interior {
    font-size: 9px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 18px;
  }

  .slider-product-single .box-description-interior .image-interior img {
    width: 40%;
    display: block;
  }

  .og-fullimg{
    height: auto;
    width: 100%;
    margin-top: 70px;
  }

  .og-expander{
    height: 650px!important;
  }

  .og-expander-inner{
    padding: 10px 10px;
  }

  .og-fullvideo{
    float: none;
    width: 100%;
  }

  .og-details{
    padding: 0px 0px 0px 0px;
    float: none;
    width: 100%;
  }

  .og-details h3{
    padding: 0px 0px 0px 0px;
    font-size: 14px;
  }

  .og-expander p{
    font-size: 12px;
    margin-bottom: 0px;
  }

  .og-details a{
    margin: 10px 0px 0px 0px;
  }

  .og-grid{
    padding: 0px 0px 0px 0px;
  }
}
/*SCOPE SCREEN 550PX END*/

/*SCOPE SCREEN 450PX START*/
@media screen and (max-width: 450px) {
  .video-blog-detail #myCarousel .list-group-item .image-list img{
    width: 37%;
    height: 82px;
  }

  .og-grid li.og-expanded{
    height: 880px!important;
  }

  .og-grid li > a.image-google-wrapper .overlay-image{
    width: 100px;
    height: 100px;
    top: 50px;
  }

  .og-grid li > a.image-google-wrapper .overlay-image .fa {
    top: 24px;
    left: 15px;
    font-size: 50px;
  }

  a.link-underline {
    font-size: 12px;
  }

  .main-nav .navbar-brand img {
    height: 30px;
    margin-top: 10px;
  }

  .main-nav .navbar-brand {
    padding: 0 0 0 0px;
  }

  .modern-slider-prestigecar {
    margin-top: -99px;
  }

  .modern-slider-prestigecar .box-information-slider {
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 138px;
    height: 74px;
    left: 51px;
    right: 0;
    margin: 0 auto!important;
    top: 58px;
    padding: 21px!important;
  }

  .modern-slider-prestigecar .box-information-slider .title{
    left: 26px;
  }

  .og-grid{
    padding: 0px 0px 0px 0px;
  }

  .og-grid li{
    width: 90%;
    padding: 4px 6px 0px 6px;
  }

  .dealer-event-list .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-bottom: 20px;
    margin-top: 7px;
  }

  .dealer-two-product .image-product{
    padding-bottom: 62%;
    width: 100%;
  }

  .dealer-two-product .image-overlay-title{
    font-size: 10px;
  }

  .dealer-two-product .image-product .red .t-image-box{
    padding-bottom: 62%;
  }

  .dealer-two-product .image-product .red .t-image-box img{
    width: 100%;
  }

  .dealer-two-product .image-product .red .t-image-hover{
    font-size: 10px;
  }

  .dealer-about-home .title{
    font-size: 15px;
  }

  .dealer-about-home .description {
    font-size: 12px;
  }

  .dealer-slide-product .title {
    font-size: 15px;
  }

  .dealer-video-blog .title{
    font-size: 15px;
  }

  .dealer-video-blog .description {
    font-size: 12px;
  }

  .dealer-event-list h2 {
    font-size: 15px;
  }

  .dealer-news-event-wrapper .title-news-event-top {
    font-size: 20px;
  }

  .dealer-news-event-wrapper .description-news-event-top {
    font-size: 11px;
  }

  .dealer-news-event-wrapper .event-list-header span{
    font-size: 15px;
  }

  .dealer-news-event-wrapper .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-top: 10px;
  }

  .dealer-event-single .news-event-title-big {
    font-size: 20px;
  }

  .dealer-event-single p {
    font-size: 12px;
    text-align: justify;
  }

  .dealer-event-single .event-list-header span{
    font-size: 12px;
  }

  .dealer-event-single .event-list-body .event-description {
    padding: 5px 11px 9px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .dealer-event-grid #pinBoot{
    margin-left: 10px;
    margin-right: 20px;
  }

  .video-blog-detail .info-p-slider-top {
    margin-top: 20px;
  }

  .video-blog-detail .info-p-slider-top h2 {
    font-size: 15px;
  }

  .video-blog-detail .info-p-slider-top p{
    font-size: 12px;
  }

  .og-grid li > a, .og-grid li > a img{
    width: 100%;
    height: auto;
  }

  .dealer-event-grid .title {
    font-size: 16px;
  }

  .dealer-event-grid .description {
    font-size: 10px;
    line-height: 20px;
  }

  .dealer-event-grid .box-link-isotope-event{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li{
    margin-right: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li a {
    font-size: 10px;
  }

  .dealer-event-grid #pinBoot{
    margin-top: 50px;
  }

  #search input[type="search"]{
    top: 57%;
    font-size: 27px;
  }

  .desc-product-single .desc-title {
    font-size: 16px;
  }

  .desc-product-single .desc-price {
    font-size: 14px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded{
    width: 80px;
    height: 80px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded i.fa{
    font-size: 30px;
    margin-top: 24px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .desc-feature{
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
  }

  .video-blog-detail #myCarousel .overlay-image {
    position: absolute;
    top: 35%;
    background-color: rgba(255, 255, 255, 0.73);
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
  }

  .video-blog-detail #myCarousel .overlay-image .fa {
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 14px;
    left: 6px;
    right: 0;
    font-size: 40px;
  }

  .contact-information-wrapper {
    margin-top: 20px;
  }

  .contact-information-wrapper .title{
    font-size: 17px;
    color: #149CC6;
  }

  .contact-information-wrapper .address{
    font-size: 13px;
    color: #149CC6;
    line-height: 40px;
  }

  .contact-information-wrapper .phone{
    font-size: 13px;
    color: #149CC6;
  }

  .product-theta-viewer .box-description-interior {
    left: 10px;
    bottom: 113px;
    margin-bottom: 9px;
    width: 94%;
  }

  .product-theta-viewer .box-description-interior .image-interior img{
    display: none;
  }

  .desc-other-product .media-carousel .carousel-control.left{
    top: 0%;
  }

  .desc-other-product .media-carousel .carousel-control.right{
    top: 0%;
  }

  .slider-product-single {
    margin-top: 0px;
  }

  .slider-product-single .caption-one .image-indicators {
    position: absolute;
    bottom: 3px;
    right: 44px;
    z-index: 15;
    width: 11%;
    padding-left: 0;
    margin-left: 0%;
    text-align: inherit;
    list-style: none;
    display: inline-block;
  }

  .slider-product-single .caption-one .image-indicators ul li img {
    width: 25px;
    height: 25px;
  }

  .slider-product-single .box-description-interior {
    position: absolute;
    left: 20px;
    bottom: 10px;
    color: #FFFFFF;
    z-index: 15;
    display: block;
    margin-bottom: 9px;
    width: 40%;
  }

  .slider-product-single .box-description-interior .title-interior {
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  .slider-product-single .box-description-interior .desc-interior {
    font-size: 9px;
    color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 18px;
  }

  .slider-product-single .box-description-interior .image-interior img {
    width: 40%;
    display: block;
  }

  .og-fullimg{
    height: auto;
    width: 100%;
    margin-top: 70px;
  }

  .og-expander-inner{
    padding: 10px 10px;
  }

  .og-fullvideo{
    float: none;
    width: 100%;
  }

  .og-details{
    padding: 0px 0px 0px 0px;
    float: none;
    width: 100%;
  }

  .og-details h3{
    padding: 0px 0px 0px 0px;
    font-size: 14px;
  }

  .og-expander p{
    font-size: 12px;
    margin-bottom: 0px;
  }

  .og-details a{
    margin: 10px 0px 0px 0px;
  }

  .og-grid{
    padding: 0px 0px 0px 0px;
  }
}
/*SCOPE SCREEN 450PX END*/

/*SCOPE SCREEN 350PX START*/
@media screen and (max-width: 350px) {
  .video-blog-detail #myCarousel .list-group-item .image-list img{
    width: 50%;
  }

  .og-grid li.og-expanded{
    height: 840px!important;
  }

  .og-grid li > a.image-google-wrapper .overlay-image{
    width: 80px;
    height: 80px;
    top: 50px;
  }

  .og-grid li > a.image-google-wrapper .overlay-image .fa {
    top: 20px;
    left: 15px;
    font-size: 40px;
  }

  a.link-underline {
    font-size: 12px;
  }

  .main-nav .navbar-brand img {
    height: 30px;
    margin-top: 10px;
  }

  .main-nav .navbar-brand {
    padding: 0 0 0 0px;
  }

  .modern-slider-prestigecar {
    margin-top: -99px;
  }

  .modern-slider-prestigecar .box-information-slider {
    display: none;
  }

  .og-fullimg{
    height: auto;
    width: 100%;
    margin-top: 70px;
  }

  .og-expander-inner{
    padding: 10px 10px;
  }

  .og-fullvideo{
    float: none;
    width: 100%;
  }

  .og-details{
    padding: 0px 0px 0px 0px;
    float: none;
    width: 100%;
  }

  .og-details h3{
    padding: 0px 0px 0px 0px;
    font-size: 14px;
  }

  .og-expander p{
    font-size: 12px;
    margin-bottom: 0px;
  }

  .og-details a{
    margin: 10px 0px 0px 0px;
  }

  .og-grid{
    padding: 0px 0px 0px 0px;
  }

  .og-grid li{
    width: 90%;
    padding: 4px 6px 0px 6px;
  }

  .dealer-event-list .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-bottom: 20px;
    margin-top: 7px;
  }

  .dealer-two-product .image-product{
    padding-bottom: 55%;
    width: 100%;
  }

  .dealer-two-product .image-overlay-title{
    font-size: 10px;
    padding: 5px 10px;
  }

  .dealer-two-product .image-product .red .t-image-box{
    padding-bottom: 56%;
  }

  .dealer-two-product .image-product .red .t-image-hover{
    font-size: 10px;
    padding: 5px;
    height: 25px;
  }

  .dealer-about-home .title{
    font-size: 15px;
  }

  .dealer-about-home .description {
    font-size: 12px;
  }

  .dealer-slide-product .title {
    font-size: 15px;
  }

  .dealer-video-blog .title{
    font-size: 15px;
  }

  .dealer-video-blog .description {
    font-size: 12px;
  }

  .dealer-event-list h2 {
    font-size: 15px;
  }

  .dealer-news-event-wrapper .title-news-event-top {
    font-size: 19px;
  }

  .dealer-news-event-wrapper .description-news-event-top {
    font-size: 10px;
  }

  .dealer-news-event-wrapper .event-list-header span{
    font-size: 15px;
  }

  .dealer-news-event-wrapper .event-list-body .event-description {
    padding: 5px 11px 0px 0px;
    margin-top: 10px;
  }

  .dealer-event-single .news-event-title-big {
    font-size: 20px;
  }

  .dealer-event-single p {
    font-size: 12px;
    text-align: justify;
  }

  .dealer-event-single .event-list-header span{
    font-size: 12px;
  }

  .dealer-event-single .event-list-body .event-description {
    padding: 5px 11px 9px 0px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .dealer-event-grid #pinBoot{
    margin-left: 10px;
    margin-right: 20px;
  }

  .video-blog-detail .info-p-slider-top {
    margin-top: 20px;
  }

  .video-blog-detail .info-p-slider-top h2 {
    font-size: 18px;
  }

  .video-blog-detail .info-p-slider-top p{
    font-size: 12px;
  }

  .og-grid li > a, .og-grid li > a img{

  }

  .dealer-event-grid .title {
    font-size: 15px;
  }

  .dealer-event-grid .description {
    font-size: 10px;
    line-height: 20px;
  }

  .dealer-event-grid .box-link-isotope-event{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li{
    margin-right: 0px;
  }

  .dealer-event-grid .box-link-isotope-event ul li a {
    font-size: 10px;
  }

  .dealer-event-grid #pinBoot{
    margin-top: 50px;
  }

  #search input[type="search"]{
    top: 58%;
    font-size: 26px;
  }

  .desc-product-single .desc-title {
    font-size: 15px;
  }

  .desc-product-single .desc-price {
    font-size: 13px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product{
    margin-top: 0px;
    margin-bottom: 20px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded{
    width: 80px;
    height: 80px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .object-rounded i.fa{
    font-size: 30px;
    margin-top: 24px;
  }

  .desc-product-video .content-overlay-2 .box-feature-product-wrapper .box-feature-product .desc-feature{
    font-size: 15px;
    line-height: 15px;
    color: #FFFFFF;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
  }

  .video-blog-detail #myCarousel .overlay-image {
    position: absolute;
    top: 25%;
    background-color: rgba(255, 255, 255, 0.73);
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
  }

  .video-blog-detail #myCarousel .overlay-image .fa {
    position: absolute;
    text-align: center;
    color: #ffffff;
    top: 14px;
    left: 6px;
    right: 0;
    font-size: 40px;
  }

  .image-about-big p {
    text-align: justify;
  }

  .margin-style p {
      font-size: 20px;
  }

  .about-desc-wrapper .title{
    font-size: 16px;
    color: #000000;
  }

  .about-desc-wrapper .description{
    font-size: 12px;
    color: #000000;
  }

  .contact-information-wrapper {
    margin-top: 20px;
  }

  .contact-information-wrapper .title{
    font-size: 16px;
    color: #149CC6;
    margin-top: 25px;
  }

  .contact-information-wrapper .address{
    font-size: 12px;
    color: #149CC6;
    line-height: 40px;
  }

  .contact-information-wrapper .phone{
    font-size: 12px;
    color: #149CC6;
  }

  .product-theta-viewer .box-description-interior {
    left: 10px;
    bottom: 113px;
    margin-bottom: 9px;
    width: 94%;
  }

  .product-theta-viewer .box-description-interior .image-interior img{
    display: none;
  }

  .slider-product-single {
    margin-top: 0px;
  }

  .slider-product-single .box-description-interior {
    left: 0px;
    width: 100%;
  }

  .slider-product-single .box-description-interior .title-interior {
    font-size: 12px;
  }

  .slider-product-single .box-description-interior .desc-interior {
    font-size: 10px;
  }

  .slider-product-single .box-description-interior .image-interior img {
    width: 20%;
  }

  .slider-product-single .caption-one {
    display: none;
  }

  .slider-product-single .caption-two {
    display: block;
  }
}
/*SCOPE SCREEN 350PX END*/
