section.dealer-about-home
  .container
    .row
      .col-md-12
        .title
          | Prestige Image Motorcars

        .description
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis repellat repudiandae accusantium, facilis consequuntur officia, voluptatem libero beatae voluptate ipsa id distinctio corporis at dicta, voluptatibus natus asperiores enim autem. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis repellat repudiandae accusantium, facilis consequuntur officia, voluptatem libero beatae voluptate ipsa id distinctio corporis at dicta, voluptatibus natus asperiores enim autem.

      .col-md-12
        .link-load-more
          = link_to 'Read More', about_path, class: 'link-underline'
