.row
  .widget-social
    = '<div class="fb-page" data-href="https://www.facebook.com/PrestigeCarsIndonesia" data-height="612" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/PrestigeCarsIndonesia"><a href="https://www.facebook.com/PrestigeCarsIndonesia">Prestige Image Motorcars</a></blockquote></div></div>'.html_safe
