.row
  .col-md-12
    = link_to news_event_v2_path
      h2 News & Event

  .col-md-6.col-sm-6.col-xs-12
    .row
      .event-list-header
        span PRESTIGE Event

      - (1..5).each
        .event-list-body
          .col-md-3
            .row
              .image-product
                = image_tag '3.jpg', alt: 'YOUR TITLE'
          .col-md-9
            .row
              .event-description
                .title
                  = link_to news_event_single_path
                    | Independent Drive 2015

                .description
                  | This month, Prestige Motorcars is proud to present our August...


  .col-md-6.col-sm-6.col-xs-12
    .row
      .event-list-header
        span.txt-color-black Otomotive Event

      - (1..5).each
        .event-list-body
          .col-md-3
            .row
              .image-product
                = image_tag '3.jpg', alt: 'YOUR TITLE'
          .col-md-9
            .row
              .event-description
                .title
                  = link_to news_event_single_path, class: 'txt-color-black'
                    | Independent Drive 2015

                .description
                  | This month, Prestige Motorcars is proud to present our August...
.row
  .col-md-12
    .row
      .link-load-more
        = link_to 'Load More', news_event_v2_path, class: 'link-underline'
