section.dealer-slide-product
  .container
    .row
      .col-md-12
        = link_to product_v1_path
          .title
            | Recent Product

  .container
    .carousel.carousel_recent_product_3.slide.media-carousel#media
      .carousel-inner
        - (1..15).each
          .recent-product-3-item.col-md-4
            = link_to product_single_v2_path
              .image-box-recent-product
                = image_tag '1.jpg', class: 'img-responsive'

      a data-slide="prev" href="#media" class="left carousel-control"
        | ‹
      a data-slide="next" href="#media" class="right carousel-control"
        | ›
