.modern-slider-prestigecar.page-wrapper
  .main-slider
    .tp-banner-container
      .tp-banner
        ul
          li data-transition="slideleft" data-slotamount="1" data-masterspeed="1000" data-thumb="#{ image_url '1.jpg' }" data-saveperformance="off" data-title="We are Awesome"
            = image_tag '1.jpg', data: { bgposition: "center top", bgfit: "cover", bgrepeat: "no-repeat" }
            .tp-caption.lfb.tp-resizeme data-x="left" data-hoffset="15" data-y="center" data-voffset="-40" data-speed="1500" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"  data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn"
              .box-information-slider
                .title
                  | Exclusivity, inspiration,
                  br
                  | and luxury is what we aim for
                .link-load-more.margin-top-50.txt-left
                  = link_to 'SEE OUR PRODUCT', product_v1_path, class: 'link-underline'

          / li data-transition="slideleft" data-slotamount="1" data-masterspeed="1000" data-thumb="#{ image_url '4.jpg' }" data-saveperformance="off" data-title="We are Awesome"
          /   iframe.embed-responsive-item height="100%" src="https://www.youtube.com/embed/TrQ9nqYFY4A" width="100%"

          li data-transition="slideup" data-slotamount="1" data-masterspeed="1000" data-thumb="#{ image_url '9.jpg' }" data-saveperformance="off" data-title="We are Awesome"
            = image_tag '9.jpg', data: { bgposition: "center top", bgfit: "cover", bgrepeat: "no-repeat" }
            .tp-caption.lfb.tp-resizeme data-x="left" data-hoffset="15" data-y="center" data-voffset="-40" data-speed="1500" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"  data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn"
              .box-information-slider
                .title
                  | Exclusivity, inspiration,
                  br
                  | and luxury is what we aim for
                .link-load-more.margin-top-50.txt-left
                  = link_to 'SEE OUR PRODUCT', product_v1_path, class: 'link-underline'

          li data-transition="slideleft" data-slotamount="1" data-masterspeed="1000" data-thumb="#{ image_url '8.jpg' }" data-saveperformance="off" data-title="We are Awesome"
            = image_tag '8.jpg', data: { bgposition: "center top", bgfit: "cover", bgrepeat: "no-repeat" }
            .tp-caption.lfb.tp-resizeme data-x="left" data-hoffset="15" data-y="center" data-voffset="-40" data-speed="1500" data-start="500" data-easing="easeOutExpo" data-splitin="none" data-splitout="none" data-elementdelay="0.01"  data-endelementdelay="0.3" data-endspeed="1200" data-endeasing="Power4.easeIn"
              .box-information-slider
                .title
                  | Exclusivity, inspiration,
                  br
                  | and luxury is what we aim for
                .link-load-more.margin-top-50.txt-left
                  = link_to 'SEE OUR PRODUCT', product_v1_path, class: 'link-underline'
        .tp-bannertimer
