section.dealer-two-product
  .image-product
    figure
      = image_tag '7.jpg'

    .image-overlay-title
      | New Cars
    .red
      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v1_path

      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v1_path
      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v1_path
      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v1_path

  .image-product
    figure
      = image_tag '1.jpg'

    .image-overlay-title
      | Second Hand Cars
    .red
      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v2_path

      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v2_path
      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v2_path
      .col-md-6.col-sm-6.col-xs-6
        .row
          .t-image-box
            = image_tag '4.jpg'
            .t-image-hover
              = link_to 'Ferarri RXV5 Sport', product_single_v2_path
