section.dealer-video-blog
  .container
    .row
      .col-md-10.col-md-offset-1
        .title
          | Video Blog

        .description
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book.

  .container
    .row
      ul#og-grid.og-grid
        - (1..8).each
          li
            = link_to "#", data: { videosrc: "http://www.youtube.com/embed/zpOULjyy-n8?rel=0", title: "Azuki bean", description: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book." }, class: 'image-google-wrapper'
              .box-image-og-grid
                = image_tag '8.jpg'
                span.overlay-image
                  span.fa.fa-play
              br
              span.text-center.txt-color-black
                | Lamborghni Racing
