section.jumbotron.image-about-big
    .container
      .row
        .col-md-12
          .row-wrapper
            .col-md-3.margin-style
              p.prestige-spacing
                b Prestige
              p.title-style Image Motorcars
            .col-md-3
              p
                  | We at Prestige Image Motorcars Every transaction is treated as We are passionate about estab-pride ourselves in delivering the unique and we pledge to give it lishing an everlasting relation-best possible outcome for our our absolute devotion from the ship. And that is a legacy worth
                  | pre-sales fighting for.
                  | clients.
            .col-md-3
              p
                  | We at Prestige Image Motorcars Every transaction is treated as We are passionate about estab-pride ourselves in delivering the unique and we pledge to give it lishing an everlasting relation-best possible outcome for our our absolute devotion from the ship. And that is a legacy worth
                  | pre-sales fighting for.
                  | clients.
            .col-md-3
              p
                  | e are passionate about estab-
                  | pride ourselves in delivering the unique and we pledge to give it lishing an everlasting relation.
              p
                b.title-style Rudy Salim
                br
                b President Director

section
  .container
    .row.margin-bottom-default.about-desc-wrapper
      .text-center.title
        | OUR SERVICE
      .text-center.description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit.dipisicing
      br

    .row
      .col-md-3
        h3.title-style
          | Waranty
        p.text-justify.lh-25
          | All of our vehicles at PRESTIGE IMAGE MOTORCARS are also covered by a one year auto parts warranty. We guarantee replacement parts in the event of malfuction and breakdown to relive out costumers of any uneccesary worry - we wan't to give you compleate "Peace of Mind".
      .col-md-3
        h3.title-style
          | Service Guarantee
        p.text-justify.lh-25
          | We provide repair and maintenance services on all of our units for up to one year (or 20,000km). Whether your vehicle needs a few small repairs or more extensive work, we pride ourselves on delivering reliable and high-quality care. if servicing is needed, we will pick up your car and return it back to you without any additional fee.
      .col-md-3
        h3.title-style
          | VCI
        p.text-justify.lh-25
          | Vehicle Customization Enquiry (VCI). We belive our costumers should be able to personalize their vehicle into their very own dream car. With our special request service, we provide professional and qualified personal assistants who will take you from concept and design to the finished product.
      .col-md-3
        h3.title-style
          | VROP
        p.text-justify.lh-25
          | Vehicle Reservation on Priority (VROP). We endeavour to facilitate the customer's experience with PRESTIGE IMAGE MOTORCARS from the very start of the procurement process. Using this service, you are able to reserve any vehicle you desire on a "first come first serverd" basis without the need to come to us on location - we will deliver the unit directly to you.
        br

    .row
      .col-md-6
        .embed-responsive.embed-responsive-16by9.about-video-embed
          iframe.embed-responsive-item height="303" src="https://www.youtube.com/embed/VCgBrtXtPqw" width="100%"
      .col-md-6
        .embed-responsive.embed-responsive-16by9.about-video-embed
          iframe.embed-responsive-item height="303" src="https://www.youtube.com/embed/TrQ9nqYFY4A" width="100%"
