#maps.gmap3
.contact-information-wrapper
  .container
    .row.row-centered.label-text
      .col-md-6
        .title Head Office
        .address Jl. Pluit Karang Ayu, Blok. C1 Utara, No 11, Jakarta Utara
        .phone 0812 12 630 888 | 021 97640999
      .col-md-6
        .title Showroom
        .address Jl. Pluit Permai No.5 Jakarta Utara (Opposite Pluit Vilage)
        .phone 0858 1111 3688 | 2A6878EB

section
  .container
    .row
      p.text-center
        b
          | Just if you have any question, please do not hesitate to send your question to us. We have the skill and proven experience and we are
          | glad to help you. Fill the form below, click send when complete, we will contact you A.S.A.P regarding your request.
      br

    .col-md-12
      .row
        p.label-text
          | * required field, must be completed

    form
      .row.margin-bottom-contact
        .col-md-4
          .input-group.full-width
            input.form-control placeholder=("full name") type="text"
        .col-md-4
          .input-group.full-width
            input.form-control placeholder="email" type="text"
        .col-md-4
          .input-group.full-width
            input.form-control placeholder="phone" type="text"

      .row.margin-bottom-contact
        .col-md-4
          .input-group.full-width
            input.form-control placeholder="company" type="text"
        .col-md-8
          .input-group.full-width
            input.form-control placeholder="Address" type="text"

      .row.margin-bottom-contact
        .col-md-12
          .input-group.full-width
            textarea.form-control cols="30" id="" name="" placeholder="Message" rows="10"

      .row.margin-bottom-contact
        .col-md-4
          .input-group.full-width
            input.form-control placeholder="Captha" type="text"
        .col-md-4
          .input-group.full-width
            input.btn.btn-primary type="submit"
