section.dealer-event-grid
  .container
    .row
      .col-md-12
        .title
          | News & Event
        .description
          | It is a long established fact that a&nbsp;
          span.txt-uppercase.txt-color-blue
            strong PRESTIGE EVENT
          | &nbsp;be distracted&nbsp;
          span.txt-uppercase.txt-color-black
            strong OTOMOTIVE EVENT
          | &nbsp;of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book.

  .container
    .row
      .col-md-12
        .box-link-isotope-event.filters
          ul
            li
              a href="#" data-filter="*" class="active"
                | Show All
            li
              a href="#" data-filter=".prestige-iso" class="txt-color-blue"
                | Prestige Event
            li
              a href="#" data-filter=".otomotive-iso" class="txt-color-black"
                | Otomotive Event

  .container
    .row
      .col-md-12
        section#pinBoot.isotope-container
          article.white-panel.prestige-iso
            = image_tag '1.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.otomotive-iso
            = image_tag '2.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path, class: 'txt-color-black'
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.prestige-iso
            = image_tag '3.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.otomotive-iso
            = image_tag '4.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path, class: 'txt-color-black'
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.prestige-iso
            = image_tag '5.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.otomotive-iso
            = image_tag '6.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path, class: 'txt-color-black'
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.prestige-iso
            = image_tag '7.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.otomotive-iso
            = image_tag '8.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path, class: 'txt-color-black'
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.prestige-iso
            = image_tag '2.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.otomotive-iso
            = image_tag '4.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path, class: 'txt-color-black'
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.prestige-iso
            = image_tag '6.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.otomotive-iso
            = image_tag '8.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path, class: 'txt-color-black'
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.prestige-iso
            = image_tag '7.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

          article.white-panel.otomotive-iso
            = image_tag '2.jpg'
            h4
              = link_to 'INDEPENDENT DRIVE 2015', root_path, class: 'txt-color-black'
            .hr-black
            p
              | This month, Prestige Motorcars is proud to present our This month,  Prestige Motorcars is proud to present our Prestige Motorcars is proud to present our Prestige Motorcars is proud to present ourPrestige Motorcars is proud to present our This month, Prestige Motorcars is proud to our ...

      .col-md-12
        .link-load-more
          = link_to 'Load More', root_path, class: 'link-underline'

