section.dealer-event-single
  .container
    .row
      .col-md-8
        .news-event-title-big
          | HYPE Atlantis Event
        .news-event-date
          | 28 August 2015
        p
          | Throughout history, there has never been a story quite like the famed mythical continent of Atlantis. At its height, it was an indomitable force to be reckoned with and the benchmark of human civilizations. Its supremacy was such that they were said to be populated by the Gods themselves. However, plagued by greed, corruption and immorality, Zeus himself punished the Atlanteans by sinking the once mighty empire into the sea and obliterated from history, forever.
        = image_tag '1.jpg', class: 'img-responsive', alt: 'YOUR TITLE'
        p
          | Throughout history, there has never been a story quite like the famed mythical continent of Atlantis. At its height, it was an indomitable force to be reckoned with and the benchmark of human civilizations. Its supremacy was such that they were said to be populated by the Gods themselves. However, plagued by greed, corruption and immorality, Zeus himself punished the Atlanteans by sinking the once mighty empire into the sea and obliterated from history, forever.
        = image_tag '1.jpg', class: 'img-responsive', alt: 'YOUR TITLE'
        p
          | Throughout history, there has never been a story quite like the famed mythical continent of Atlantis. At its height, it was an indomitable force to be reckoned with and the benchmark of human civilizations. Its supremacy was such that they were said to be populated by the Gods themselves. However, plagued by greed, corruption and immorality, Zeus himself punished the Atlanteans by sinking the once mighty empire into the sea and obliterated from history, forever.

      .col-md-4
        .event-list-header
          span Other Event

        - (1..5).each
          .event-list-body
            .col-md-3
              .row
                .image-product
                  = image_tag '5.jpg', alt: 'YOUR TITLE'

            .col-md-9
              .row
                .event-description
                  .title
                    = link_to 'Independent Drive 2015', news_event_single_path
                  .description
                    | This month, Prestige Motorcars is proud to present our August.......
        .row
          .col-md-12
            .row
              .link-load-more
                = link_to 'More Event', news_event_v2_path, class: 'link-underline'
