section.dealer-news-event-wrapper
  .container
    .row
      .col-md-12
        .title-news-event-top
          | News & Event

        .description-news-event-top
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book.

      .col-md-6.col-sm-6.col-xs-12
        .event-list-header
          span Prestige Event

        - (1..5).each
          .event-list-body
            .col-md-4
              .row
                .image-product
                  = image_tag '3.jpg', alt: 'YOUR TITLE'

            .col-md-8
              .row
                .event-description
                  .title
                    = link_to 'MorningFlick - HnP X FastFurious 7', news_event_single_path
                  .description
                    | Prestige Motorcars are proud to support one of our premier partners, Ziebart Indonesia by contributing an absolutely stunning Ferrari California at their stand in Gaikindo Indonesia International Auto Show 2015 (GIIAS 2015).

      .col-md-6.col-sm-6.col-xs-12
        .event-list-header
          span Otomotive Event

        - (1..5).each
          .event-list-body
            .col-md-4
              .row
                .image-product
                  = image_tag '1.jpg', alt: 'YOUR TITLE'

            .col-md-8
              .row
                .event-description
                  .title
                    = link_to 'Car Competition - Pantai Indah Kapuk', news_event_single_path, class: 'txt-color-black'
                  .description
                    | Prestige Motorcars are proud to support one of our premier partners, Ziebart Indonesia by contributing an absolutely stunning Ferrari California at their stand in Gaikindo Indonesia International Auto Show 2015 (GIIAS 2015).



