section.product-theta-viewer
  #theta-viewer
  .box-description-interior
    .title-interior
      = link_to '< EXTERIOR', product_single_v2_path
    .desc-interior
      | Porsche GT3 3.8 2014 Yellow
    .image-interior
      = image_tag '5.jpg', alt: 'YOUR TITLE'

section.desc-product-single
  .container
    .row
      .col-md-12
        .desc-title
          | Porsche GT3 3.8 2014 Yellow
        .desc-price
          | Off The Road : Rp 4.335.000,-
        .desc-price
          | On The Road : Rp 4.685.000,-

section.desc-product-video
  main
    #video-wrap.video-wrap
      video preload="metadata" autoplay="true" loop="true" id="my-video"
        source src="../assets/rapid-mood.mp4" type="video/mp4"
      .content-overlay
      .content-overlay-2
        .container
          .row
            .col-md-12.box-feature-product-wrapper
              - (1..6).each
                .col-lg-4.col-md-4.col-sm-6.col-xs-6
                  .box-feature-product
                    .object-rounded
                      i.fa.fa-refresh
                    .desc-feature
                      | We have the skill and proven experience and we are glad to help you.

section.desc-other-product
  .container
    .row
      .col-md-12
        .title
          | Other Products

  = render 'shareds/product/recent_five_product'
