#slider-product-single.home-carousel.carousel.slide.slider-product-single data-ride="carousel"
  .caption-one
    ol.image-indicators
      ul
        li data-target="#slider-product-single" data-slide-to="0" class="active"
          = image_tag '1.jpg', alt: 'YOUR TITLE'
        li data-target="#slider-product-single" data-slide-to="1"
          = image_tag '4.jpg', alt: 'YOUR TITLE'
        li data-target="#slider-product-single" data-slide-to="2"
          = image_tag '3.jpg', alt: 'YOUR TITLE'
        li data-target="#slider-product-single" data-slide-to="3"
          = image_tag '8.jpg', alt: 'YOUR TITLE'

  .caption-two
    ol.carousel-indicators
      li data-target="#slider-product-single" data-slide-to="0" class="active"
      li data-target="#slider-product-single" data-slide-to="1"
      li data-target="#slider-product-single" data-slide-to="2"
      li data-target="#slider-product-single" data-slide-to="3"

  .box-description-interior
    .title-interior
      = link_to '< INTERIOR', product_single_v1_path
    .desc-interior
      | Porsche GT3 3.8 2014 Yellow
    .image-interior
      = image_tag '5.jpg', alt: 'YOUR TITLE'

  .carousel-inner role="listbox"
    .item.active
      .image-zoom
        = image_tag '1.jpg', alt: 'YOUR TITLE'
    .item
      .image-zoom
        = image_tag '4.jpg', alt: 'YOUR TITLE'
    .item
      .image-zoom
        = image_tag '3.jpg', alt: 'YOUR TITLE'
    .item
      .image-zoom
        = image_tag '8.jpg', alt: 'YOUR TITLE'

section.desc-product-single
  .container
    .row
      .col-md-12
        .desc-title
          | Porsche GT3 3.8 2014 Yellow
        .desc-price
          | Off The Road : Rp 4.335.000,-
        .desc-price
          | On The Road : Rp 4.685.000,-

section.desc-product-video
  main
    #video-wrap.video-wrap
      video preload="metadata" autoplay="true" loop="true" id="my-video"
        source src="../assets/rapid-mood.mp4" type="video/mp4"
      .content-overlay
      .content-overlay-2
        .container
          .row
            .col-md-12.box-feature-product-wrapper
              - (1..6).each
                .col-lg-4.col-md-4.col-sm-6.col-xs-6
                  .box-feature-product
                    .object-rounded
                      i.fa.fa-refresh
                    .desc-feature
                      | We have the skill and proven experience and we are glad to help you.

section.desc-other-product
  .container
    .row
      .col-md-12
        .title
          | Other Products

  = render 'shareds/product/recent_five_product'
