section.dealer-page-product-list-wrapper
  .container
    .row
      .col-md-12.dealer-box-product-list
        .col-md-12
          .title
            | New Cars
        - (1..12).each
          .col-md-3
            .image-page-product-list
              .image
                = image_tag '8.jpg', alt: 'YOUR TITLE'
              .overlay-image-page-product-list
                = link_to 'Mercedes V-CLASS Sport', product_single_v1_path

      .col-md-12.dealer-box-product-list
        .col-md-12
          .title
            | Second Cars
        - (1..12).each
          .col-md-3
            .image-page-product-list
              .image
                = image_tag '5.jpg', alt: 'YOUR TITLE'
              .overlay-image-page-product-list
                = link_to 'Lexus VCLASS Sport', product_single_v2_path
