section.video-blog-detail
  .container
    #myCarousel.carousel.slide data-ride="carousel"
      .carousel-inner
        .item.active
          = link_to "https://www.youtube.com/watch?v=-m2He1R-rUA", class: 'video-popup-magnific'
            .image-big-slide
              = image_tag '1.jpg', alt: 'YOUR TITLE'
            .carousel-caption
              .t-image-big
                | News
            span.overlay-image
              span.fa.fa-play

        .item
          = link_to "https://www.youtube.com/watch?v=mpGiPiMeTeo", class: 'video-popup-magnific'
            .image-big-slide
              = image_tag '2.jpg', alt: 'YOUR TITLE'
            .carousel-caption
              .t-image-big
                | News
            span.overlay-image
              span.fa.fa-play
        .item
          = link_to "https://www.youtube.com/watch?v=UVZMUB8TCvU", class: 'video-popup-magnific'
            .image-big-slide
              = image_tag '6.jpg', alt: 'YOUR TITLE'
            .carousel-caption
              .t-image-big
                | News
            span.overlay-image
              span.fa.fa-play
        .item
          = link_to "https://www.youtube.com/watch?v=L61GdlugS5c", class: 'video-popup-magnific'
            .image-big-slide
              = image_tag '8.jpg', alt: 'YOUR TITLE'
            .carousel-caption
              .t-image-big
                | News
            span.overlay-image
              span.fa.fa-play
        .item
          = link_to "https://www.youtube.com/watch?v=L61GdlugS5c", class: 'video-popup-magnific'
            .image-big-slide
              = image_tag '6.jpg', alt: 'YOUR TITLE'
            .carousel-caption
              .t-image-big
                | News
            span.overlay-image
              span.fa.fa-play
        .item
          = link_to "https://www.youtube.com/watch?v=L61GdlugS5c", class: 'video-popup-magnific'
            .image-big-slide
              = image_tag '8.jpg', alt: 'YOUR TITLE'
            .carousel-caption
              .t-image-big
                | News
            span.overlay-image
              span.fa.fa-play

      ul.list-group.col-md-4
        li data-target="#myCarousel" data-slide-to="0" class="list-group-item active"
          .col-md-5
            .row
              .image-list
                = image_tag '1.jpg', alt: 'IMAGE TITLE'
              span.overlay-image
                span.fa.fa-play

          .col-md-7
            h4 Your Best Luxury Cars
            .desc-p-video
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque mod.

        li data-target="#myCarousel" data-slide-to="1" class="list-group-item"
          .col-md-5
            .row
              .image-list
                = image_tag '2.jpg', alt: 'IMAGE TITLE'
              span.overlay-image
                span.fa.fa-play

          .col-md-7
            h4 Your Best Luxury Cars
            .desc-p-video
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque mod.

        li data-target="#myCarousel" data-slide-to="2" class="list-group-item"
          .col-md-5
            .row
              .image-list
                = image_tag '6.jpg', alt: 'IMAGE TITLE'
              span.overlay-image
                span.fa.fa-play

          .col-md-7
            h4 Your Best Luxury Cars
            .desc-p-video
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque mod.

        li data-target="#myCarousel" data-slide-to="3" class="list-group-item"
          .col-md-5
            .row
              .image-list
                = image_tag '8.jpg', alt: 'IMAGE TITLE'
              span.overlay-image
                span.fa.fa-play

          .col-md-7
            h4 Your Best Luxury Cars
            .desc-p-video
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque mod.

        li data-target="#myCarousel" data-slide-to="4" class="list-group-item"
          .col-md-5
            .row
              .image-list
                = image_tag '6.jpg', alt: 'IMAGE TITLE'
              span.overlay-image
                span.fa.fa-play

          .col-md-7
            h4 Your Best Luxury Cars
            .desc-p-video
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque mod.

        li data-target="#myCarousel" data-slide-to="5" class="list-group-item"
          .col-md-5
            .row
              .image-list
                = image_tag '8.jpg', alt: 'IMAGE TITLE'
              span.overlay-image
                span.fa.fa-play

          .col-md-7
            h4 Your Best Luxury Cars
            .desc-p-video
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem itaque mod.

    .col-md-12
      .row
        .info-p-slider-top
          h2 Your best luxury cars
          p
            | Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlve centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. Lorem ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not onlve centuries, but also the leap into electronic typesetting, in the 1960s with the rcontaining

section.dealer-video-blog
  .container
    .col-md-12
      .row
        .pull-right
          .link-load-more.padding-right-0
            = link_to 'Event Detail', root_path, class: 'link-underline'
        hr.hr-full
        .title-category
          | Most Watched
  .container
    .row
      ul#og-grid.og-grid
        - (1..8).each
          li
            = link_to "#", data: { videosrc: "http://www.youtube.com/embed/zpOULjyy-n8?rel=0", title: "Azuki bean", description: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. when an unknown printer took a galley of type and scrambled it to make a type specimen book." }, class: 'image-google-wrapper'
              .box-image-og-grid
                = image_tag '8.jpg'
                span.overlay-image
                  span.fa.fa-play
              br
              span.text-center.txt-color-black
                | Lamborghni Racing
