doctype html
html
  head
    title Prestige Image Motorcars

    meta http-equiv="X-UA-Compatible" content="IE=edge"
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    meta name="description" content="Prestige Image Motorcars Dealer Indonesia"
    meta name="keywords" content="Prestige Image Motorcars | Car Sport Indonesia | Car Event Competion Indonesia"
    meta content="Indonesia" name="geo.placename"
    meta name="language" content="id"

    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags

    script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"

  body.home
    #preloader
      #load
    = render 'shareds/navbar_page'
    = render 'shareds/home/slider' if params[:action] == 'home'
    = yield
    = render 'shareds/footer'

    = javascript_include_tag 'application'
    #fb-root
    javascript:
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/id_ID/sdk.js#xfbml=1&version=v2.4&appId=442229462626346";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

