doctype html
html
  head
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    title PrestigeCar Administrator
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700"
    link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300,700"
    = stylesheet_link_tag 'backend_css'
    = csrf_meta_tags

  body
    = render 'backend/shareds/nav'
    = flash_messages
    = render 'backend/shareds/top_menu'
    .container
      .content
        .content-container
          = yield
    = render 'backend/shareds/footer'
  = javascript_include_tag 'backend_js'
