doctype html
html
  head
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    title Prestige Image Motorcars
    meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"
    = stylesheet_link_tag 'application'
    = csrf_meta_tags

  body
    = flash_messages
    section.grey
      .container
        .col-md-4.col-md-offset-4.form-devise
          = yield
  / = javascript_include_tag 'application'
