- if params[:node].present?
  = select_tag "#{params[:node]}[address_attributes][city]", options_for_select(@cities.alfa.pluck(:name)), {prompt: 'Choice City', class: 'form-control select2 cities_select', 'data-node' => "#{params[:node]}", required: true} 
- else
  = select_tag :city, options_for_select(@cities.alfa.pluck(:name)), {prompt: 'Choice City', class: 'form-control select2 cities_select', required: true}